<% provide(:title, "Sign in") %>

<div id="adit_welcome">Welcome to <%=(image_tag 'adit_logo4.svg')%></div>
<% if false %>

<h3>Please Select a User to Begin.</h3>
    <!-- I used link_to's that looked like buttons because button_to was not sending commit parameter correctly -->

<%= link_to 'Teacher', {controller: :sessions, action: :create, id: :teacher},
            method: :post, class: 'btn btn-lg btn-primary btn-small' %>
	

    <%= link_to 'Student', {controller: :sessions, action: :create, id: :student},
                method: :post, class: 'btn btn-lg btn-primary btn-small' %>
			
    <%= link_to "http://cslinux/expo2014/" do %>
          <div class="expo_logo_div">
            <%= image_tag "expo.jpg", class: "expo_logo" %>
            <div class="expo_return_text_div">
              <div class="expo_return_text">Return to EXPO<br>home page</div>
            </div>
          </div> 
    <% end %>


<% else %>
<div class="panel panel-default">
	<div class="panel-heading">
  	<h3 class="panel-title">Please Sign In</h3>
 	</div>
	<div class="panel-body">
    <fieldset>
      <%= form_tag sessions_path do %>
    	<div class="form-group">
				<%#= label_tag 'School ID' %>
				<%= text_field_tag 'school_id', '', placeholder: 'School ID' %>
				<%#= label_tag 'password' %>
				<%= password_field_tag :password, '', :placeholder => 'Password' %>
    	</div>
  		<%= submit_tag("Sign in", class: "btn btn-lg btn-primary btn-block") %>
  		<% end %>
  	</fieldset>
  </div>
</div>

<% end %>