<%= form_for [@receipt, @action], as: :foo do |f| %>
  <% if @action.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@action.errors.count, 'error') %> prohibited this action from being saved:</h2>

      <ul>
      <% @action.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<script>
$(document).ready(function(){
$(".hidden").hide();
});

  $(document).ready(function(){
  	$("#presentation").click(function () {
    if ($("#presentation").is(':checked')) 
    {
      $("#checkers2").removeClass("hidden").show();
    } 
    else 
    {
      $("#checkers2").addClass("hidden").hide();
      $("#saleMade").hide();
      $("#sale").attr('checked', false);
    }
    });
    
    $("#sale").click(function () {
    if ($("#sale").is(':checked')) 
        {
            $("#saleMade").removeClass("hidden").show();
        }
    else 
    {
      $("#saleMade").addClass("hidden").hide();
    }
    });
    
    $("#comments").click(function () {
    if ($("#comments").is(':checked'))
    	{
    		$("#justComment").removeClass("hidden").show();
    	}
    else
    {
    	$("#justComment").addClass("hidden").hide();
    }
    });
   });
 
</script>

    <% if @action.action_type.name != 'Comment'%>

        <div id = "firstCheck" <%= 'class = hidden' unless @action.action_type.name == 'First Contact' %>>
          <div>
            <p>Congratulations on making contact with your client!</p>
            <p>Were you able accomplish anything else?</p>
          </div>
          <%= label_tag('presentation', 'I made a presentation!') %>
          <%= check_box_tag(:presentation) %>
        </div>

        <div id = "checkers2" <%= 'class = hidden' unless @action.action_type.name == 'Presentation' %>>
          <div>
            <p>Awesome, you made a presentation!</p>
            <p>Were you able to make a sale?</p>
          </div>
          <%= label_tag('sale', 'I made a sale!') %>
          <%= check_box_tag(:sale) %>
        </div>

        <div id = "saleMade" <%= 'class = hidden' unless @action.action_type.name == ('New Sale' || 'Old Sale') %>>
          <div>
            <p>Way to Ad It!</p>
          </div>
          <%= label_tag('price', 'Sale Amount $') %>
          <%= text_field_tag(:price, nil, :placeholder => 'Examples: 50 or 75') %>
          <%= label_tag('page', 'Page Size') %>
          <%= text_field_tag(:page, nil, :placeholder => 'Examples: .25 or 1.5 ')%>
          <%= label_tag('payment_type', 'Payment Type') %>
          <%= select_tag('payment_type', options_for_select(%w(Cash Credit Invoice Check)))%>
        </div>
    <% end %>
    <br />
    
    <div <%= 'class = hidden' unless @action.action_type.name != 'Comment' %>>
      <%= label_tag('comment', 'I have a comment.') %>
      <%= check_box_tag('comments') %>    
    </div>
    <div id = "justComment" <%= 'class = hidden' unless @action.action_type.name == 'Comment' %>>
      <%= label_tag('comments', 'Any Comments') %>
      <%= f.text_area :comment, :placeholder => 'Do you have any details or notes for this entry?' %>
    </div>
    
    <br />
    <% if @action.action_type.name != 'Comment' %>
    <div>
      <%= f.label :user_action_time, 'When did you do this?' %>
      <%= f.text_field :user_action_time, :placeholder => "YYYY/MM/DD 00:00 AM/PM" %>
    </div>
    <% else %>
        <%= f.hidden_field :user_action_time, :value => Time.now %>
    <% end %>

    <%= f.hidden_field :receipt_id, :value => @action.receipt_id %>
    <%= f.hidden_field :action_type_id, :value => @action.action_type_id %>
    <%= f.hidden_field :points_earned, :value => @action.points_earned %>
    <div>
      <%= f.submit %>
    </div>
<% end %>

<script>
$('#foo_user_action_time').datetimepicker({ dateFormat: "yy/mm/dd", timeFormat: "hh:mm TT", maxDate: new Date });
</script>

<!-- This adds client-side validation -->
<script>

	$(document).ready(function () {
		
		jQuery.validator.addMethod("floating_number", function(value, element) {
			return this.optional(element) || /^(?:\d+|\d{1,3}(?:,\d{3})+)?(?:\.\d+)?$/i.test(value);
		});
		
		$("#new_foo").validate({
			rules: {
				"price": {min: 1, required: true, floating_number: true },
				"page": {min: .01, required: true },
				"foo[comment]": {required: true},
				"foo[user_action_time]": {required: true, date: true }
				//"action[user_action_time]": {date: true, less_than: Time.now}
			},
			messages: {
				"price": "Please enter a valid price.",
				"page": "Please enter a valid page size.",
				"foo[comment]": "If you have a comment, please enter it.",
				"foo[user_action_time]": "Please enter in when you did this."
			}
		});
	});
</script>
