<%= form_for [@receipt, @action], as: :foo do |f| %>
  <% if @action.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@action.errors.count, 'error') %> prohibited this action from being saved:</h2>

      <ul>
      <% @action.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <% if @action.action_type.name != 'Comment'%>

        <div id = "firstCheck" <%= 'class = hidden' unless @action.action_type.name == 'First Contact' %>>
          <div>
            <p>Congratulations on making contact with your client!</p>
            <p>Were you able accomplish anything else?</p>
          </div>
          <%= label_tag('presentation', 'I made a presentation!') %>
          <%= check_box_tag(:presentation) %>
        </div>

        <div id = "checkers2" <%= 'class = hidden' unless @action.action_type.name == 'Presentation' %>>
          <div>
            <p>Awesome, you made a presentation!</p>
            <p>Were you able to make a sale?</p>
          </div>
          <%= label_tag('sale', 'I made a sale!') %>
          <%= check_box_tag(:sale) %>
        </div>

        <div id = "saleMade" <%= 'class = hidden' unless (@action.action_type.name == 'New Sale' || @action.action_type.name == 'Old Sale') %>>
          <div>
            <p>Way to Ad It!</p>
          </div>
          <%= label_tag('price', 'Sale Amount $', class: 'required') %>
          <%= text_field_tag(:price, '', :placeholder => 'Examples: 50 or 75') %>
          <%= label_tag('page', 'Page Size', class: 'required') %>
          <%= text_field_tag(:page, '', :placeholder => 'Examples: .25 or 1.5 ')%>
          <%= label_tag('payment_type', 'Payment Type') %>
          <%= select_tag('payment_type', options_for_select(%w(Cash Credit Invoice Check Dept. Trans.)))%>
        </div>
    <% end %>
    <br />
    
    <div <%= 'class = hidden' unless @action.action_type.name != 'Comment' %>>
      <%= label_tag('comment', 'I have a comment.') %>
      <%= check_box_tag('comments') %>    
    </div>
    <div id = "justComment" <%= 'class = hidden' unless @action.action_type.name == 'Comment' %>>
      <%= label_tag('comments', 'Any Comments') %>
      <%= f.text_area :comment %>
    </div>
    
    <br />
    <% if @action.action_type.name != 'Comment' %>
    <div>
      <%= f.label :user_action_time, 'When did you do this?', class: 'required' %>
      <%= f.text_field :user_action_time, :placeholder => 'YYYY/MM/DD 00:00 AM/PM' %>
    </div>
    <% else %>
        <%= f.hidden_field :user_action_time, :value => Time.now %>
    <% end %>

    <%= f.hidden_field :receipt_id, :value => @action.receipt_id %>
    <%= f.hidden_field :action_type_id, :value => @action.action_type_id %>
    <%= f.hidden_field :points_earned, :value => @action.points_earned %>
    <div>
      <%= f.submit 'Update Client', class: 'btn btn-primary btn-sm'%>
    </div>
<% end %>


