<%= form_for(@user) do |f| %>
    <% if @user.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@user.errors.count, 'error') %> prohibited this user from being saved:</h2>

          <ul>
            <% @user.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>
    <div class = "panel panel-primary">
      <div class = "panel-heading">
        <h3>&nbsp;New Student Information</h3>
      </div>
      <div class = "panel-body">
        <div id="full_name">
          <%= f.label :first_name, 'First Name', class: 'required' %>
          <%= f.text_field :first_name %>
          <%= f.label :last_name, 'Last Name', class: 'required' %>
          <%= f.text_field :last_name %>
        </div>
        <div id="school_info">
          <%= f.label :school_id, 'School ID', class: 'required' %>
          <%= f.text_field :school_id %>
          <%= f.label :email, 'E-mail Address', class: 'required' %>
          <%= f.text_field :email %>
        </div>
        <div id="phone_box_num">
          <%= f.label :phone, 'PCC Phone', class: 'required' %>
          <%= f.text_field :phone %>
          <%= f.label :box, 'PCC Box Number' %>
          <%= f.text_field :box %>
        </div>
        <%= f.hidden_field :role, :value => 1 %>
        <div id="major_minor">
          <%= f.label :major, 'Major' %>
          <%= f.text_field :major %>
          <%= f.label :minor, 'Minor' %>
          <%= f.text_field :minor %>
        </div>
        <div id="class">
          <%= f.label :classification, 'Classification' %>
          <%= f.select :classification, [['Freshman', 'Freshman'], ['Sophmore', 'Sophmore'], ['Junior', 'Junior'], ['Senior', 'Senior']] %>
        </div>
        <br />
        <div class="actions">
          <%= f.submit  :class => 'btn btn-primary btn-sm'%>
        </div>
      </div>
    </div>
<% end %>
