<h1>These students were entered incorrectly</h1>

<table class="table dataTable">
	  <tbody>
            <% @incorrect_students.each do |student| %>
              <tr>
                <td><%= student.first_name %></td>
                <td><%= student.last_name %></td>
                <td><%= student.school_id.partition("-")[0] %></td>
                <td><%= student.email %></td>
                <td><%= student.phone %></td>                
                <td><%= student.box %></td>
                <td><%= link_to 'Edit', edit_user_path(student.id) %></td>
                <td><%= link_to 'Delete', {controller: :users, action: :delete_incorrect, id: student}, method: :delete %></td>
              </tr>
            <% end %>
          </tbody>
</table>