<!-- Here is huge table of all the students -->
<table id="manageSection" class="display">

  <thead>
	<tr>
	  <th></th>
	  <th>First Name</th>
	  <th>Last Name</th>
	  <th>ID number</th>
	  <th>Email</th>
	  <th>Phone</th>
	  <th>Student Manager</th>
	  <th>Section</th>
	  <th>Major</th>
	  <th>Minor</th>
	  <th>Box</th>
	  <th>Class</th>
	  <th></th>
	  <th></th>     	      	      	      	      
	</tr>
  </thead>
  <tbody>
    <% current_students.each do |student| %>
      <tr>
        <td><%= check_box_tag 'students[]', student.id%></td>
        <td><%= link_to student.first_name, my_receipts_path(id: student.id) %></td>
        <td><%= link_to student.last_name, my_receipts_path(id: student.id) %></td>
        <td><%= student.school_id %></td>
        <td><%= student.email %></td>
        <td><%= student.phone %></td>                
        <td><%= student.student_manager_name %></td>
        <td><%= student.section_number %></td>
        <td><%= student.major %></td>
        <td><%= student.minor %></td>
        <td><%= student.box %></td>
        <td><%= student.class %></td>       
        <td><%= link_to 'Edit', edit_user_path(student.id) %></td>
        <% if student.is_enabled %>
          <td><%= link_to 'Inactivate', {controller: :users, action: :change_is_enabled, id: student.m_id}, method: :post %></td>
        <% else %>
		  <td><%= link_to 'Activate', {controller: :users, action: :change_is_enabled, id: student.m_id}, method: :post %></td>
        <% end %>        
      </tr>
    <% end %>
  </tbody>
</table>
