<%= form_for(@user)  do |f| %>
	<% if @user.errors.any? %>
		<div id="error_explanation">
			<h2><%= pluralize(@user.errors.count, 'error') %> prohibited this user from being saved:</h2>

			<ul>
			<% @user.errors.full_messages.each do |msg| %>
				<li><%= msg %></li>
			<% end %>
			</ul>
		</div>
	<% end %>
	<br><br><br>
	 <div class="field">
		<%= f.label :first_name, class: 'required' %><br>
		<%= f.text_field :first_name %>
	</div>
	<div class="field">
		<%= f.label :last_name, class: 'required' %><br>
		<%= f.text_field :last_name %>
	</div>
	<div class="field">
		<%= f.label :school_id, class: 'required' %><br>
		<%= f.text_field :school_id %>
	</div>
	<div class="field">
		<%= f.label :email, class: 'required' %><br>
		<%= f.text_field :email %>
	</div>
	<div class="field">
		<%= f.label :phone, 'Telephone Number' %><br>
		<%= f.text_field :phone %>
	</div>
		<%= f.hidden_field :role, :value => 3 %>
	<div class="actions">
		<%= f.submit %>   
	</div> 

<% end %>

