<% provide(:title, 'Create Section') %>

<%= form_tag(users_assign_teacher_to_section_path) do %>

<!-- Gets rid of the section number if it has already been taken -->
<% select = Array[]%>
<% @good_selection.each do |selection| %>
	<% select.push(selection) %>
<% end %>

<div id="select_section">
<%=label_tag 'Please select the section number:' %>
<%=select_tag :section, options_for_select(select), :class => 'btn btn-large btn-dropdown btn-sm' %>
<div>

<div id="select_teacher">
<%=label_tag 'Please select the teacher:' %>
<%= collection_select  :school_id, :id, User.all_teachers, :id, :school_id, :class => 'btn btn-large btn-dropdown btn-sm'   %>
</div>

<%= submit_tag 'Create this section', :class => 'btn btn-large btn-primary btn-sm' %>

<%= link_to 'Back to Manage Section', users_path, :class => 'btn btn-large btn-primary btn-sm' %>


<% end %>