<% provide(:title, "Create Section") %>

<h1 id="heading">Create Section</h1>

<%= form_tag('/users/assign_teacher_to_section') do %>

<!-- Gets rid of the section number if it has already been taken -->
<% select = Array[]%>
<% @good_selection.each do |selection| %>
	<% select.push(selection) %>
<% end %>

<%=label_tag "Please select the section number:" %>
<%=select_tag :section, options_for_select(select), :class => 'btn btn-large btn-dropdown btn-sm' %>

<br><br>
<%=label_tag "Please select the teacher:" %>
<%= collection_select  :school_id, :id, User.all_teachers, :id, :school_id, :class => 'btn btn-large btn-dropdown btn-sm'   %>

<br><br>

<%= submit_tag "Create this section", :class => 'btn btn-large btn-primary btn-sm' %>

<% end %>