<h1>Listing users</h1>



<%= form_tag('/users/input_students_parse') do%>
<h2>Add Student(s)<h2>
	<%= text_area_tag 'input' %>
	<%= submit_tag 'input'%>
<% end %>

<table class ="table">
  <thead>
    <tr>
      <th><%=sortable "first_name"%></th>
      <th><%=sortable "last_name"%></th>
      <th><%=sortable "school_id", "ID number"%></th>
      <th><%=sortable "email"%></th>
      <th><%=sortable "phone"%></th>
      <th><%=sortable "section"%></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.first_name %></td>
        <td><%= user.last_name %></td>
        <td><%= user.school_id%></td>
        <td><%= user.email%></td>
        <td><%= user.phone %></td>
        <td><%= user.section %></td>
        <td><%= link_to 'Show', user %></td>
        <td><%= link_to 'Edit', edit_user_path(user) %></td>
        <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Add One Student', new_user_path %>

