<%= render :partial => 'reports/dropdown' , :locals => {:sections => @sections}%>

<% provide(:title, 'Manage Students') %>

<!--Creates a new Section link-->
<div id="new_section">
	<h5><%=link_to 'Create a New Section', users_create_new_section_path, :class => 'btn btn-link btn-sm'%></h5>
</div>

<!-- Adds students to a section and is only allowed for a teacher-->

<% if @selected_section == 'all' %>
  <p id = "info_message" class = "alert alert-notice">You are currently viewing all students. Please select a section or create a section for additional options.</p>
        <!--Refreshes page using ajax, actually just normally right now-->
      <div id = "section_refresh">
        <%= render :partial => 'manage_section', :locals => { :current_students => @select_students }%>
      </div>
<% else %>  
   <p id='add_student'> <%= link_to 'Add Students', new_user_path, :id => 'add_student', class: 'btn btn-large btn-link btn-sm'%>

    
  <!--Actions for the teacher to do with the students and sections-->
  <%= form_tag(users_change_student_status_path) do%>
    <div id= "manage_dropdown">
      <div id = "option">
      	<!-- EXPO 'Assign Bonus Points' to be add to options for select -->
        <%= select_tag 'selected_option',
                        options_for_select(['Promote Student', 'Assign Team', 'Demote Student', 'Assign Bonus Points']),
                        :onchange => 'myFunction()', :prompt => 'Choose Action', :type => 'button',
                        :class => 'btn btn-default dropdown-toggle col-md-2', :datatoggle => 'dropdown'%>
      </div>
      <!-- This only appears if the teacher wants to assign a team to a student manager -->
      <div id ="show_managers">
        <%= select_tag 'student_manager', options_from_collection_for_select(@student_managers, 'id', :full_name),
                       :class => 'btn btn-default dropdown-toggle col-md-2'%>
      </div>
      <div id ="assign_bonus_points">
        <p>Number of bonus points:
        <%= number_field_tag 'bonus_points' %></p>
        <p>Please enter the reason for the bonus points:
        <%= text_field_tag 'bonus_comment' %></p>
      </div> 
      <%= submit_tag :submit, :class => 'btn btn-primary btn-sm col-md-1', :id => 'action_submit'%>
    </div>


  <!-- EXPO
  <p>
    Download:
    <%= link_to "Excel", users_path(format: "xls") %>
  </p> -->


  <!-- Displays the incorrect students if any -->
  <% if @incorrect_students.present? %>
  	<%= render :partial => 'incorrect_students' %>
  <% end %>
  
  <!--Refreshes page using ajax, actually just normally right now-->
      <div id = "section_refresh">
        <%= render :partial => 'manage_section', :locals => { :current_students => @select_students }%>
      </div>
    <%end%>
<%end%>
