<% provide(:title, 'Manage Section') %>

<%#=debug @sections %>
<%#=debug @pro %>

<!--Heading-->
<h1 class = "col-md-3" id = "heading">Manage Section</h1>

<!--Change Section drop down-->
<div class = "col-md-2" id = "select-section-1">
	<div class="btn-group">
		<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
			Change Section<span class="caret"></span>
		</button>
		<ul class="dropdown-menu" role="menu">
			<% @sections.each do |s|%>
	   			<li>
	   				<%= link_to "#{s}", {:controller => :users, :action => :set_section,
	   					                 :section_option => "#{s}"}, :method => :post %>
	   			</li>
			<% end %>
		</ul>
	</div>
</div>

<!--Tells the teacher what section is active-->
<h5 class = "col-md-4" id="section_type" >
	<p class = "text-success">

		<%= @current.first_name || @current.school_id.capitalize %>,
			<% if @selected_section == 'all' %>
				these are all the sections for this project.
			<% elsif @selected_section.nil? %>
				you need to create a section.
			<% else%>
				this is section <%= "#{@selected_section} "%>
			<% end %>
	</p>

</h5>

<!--Creates a new Section link-->
<div class = "col-md-2" id="select-section-2" id="link-1" style="margin-left:0px;">
	<h5><a href="/users/create_new_section" class = " btn btn-link btn-sm">Create a New Section</a></h5>
</div>
<br><br>

<!-- Adds students to a section and is only allowed for a teacher-->
<br><br>
<% if @selected_section != 'all' %>
		<span id="paste" class="fake-link">Copy and paste your student roster here</span> or <%= link_to 'Add One Student', new_user_path,
																	  :id => 'link-2',
																	  class: 'btn btn-large btn-link btn-sm'%>
<div class = "col-md-12" id="parse_box">
		<%= form_tag('/users/input_students_parse') do%>

		<br>
		<%= text_area_tag 'input' %>
		<br><%= submit_tag 'Add Students to Section', class: "btn btn-large btn-primary btn-sm"%>
	<% end %>
<% else %>
Please select a section to create a team or add students.
<% end %>
</div>

<!-- Displays the incorrect students if any -->
<% if @incorrect_students.present? %>
<%= render :partial => 'incorrect_students' %>
<% end %>

<br><br>
<br><br>

<!--Actions for the teacher to do with the students and sections-->
<%= form_tag('/users/change_student_status') do%>
    <div id= "manage_dropdown">
      <div id = "option">
        <% if @selected_section != "all" %>
            <%= select_tag "selected_option",
                           options_for_select(["Promote Student", "Create Team", "Demote Student", "Inactivate Students", "Activate Students", "Show Only Inactive Students", "Show only Active Students", "Show Both Inactive and Active Students"]),
                           :onchange => 'myFunction()', :prompt => 'Choose Action', :type => "button",
                           :class => "btn btn-default dropdown-toggle col-md-2", :datatoggle => "dropdown"%>
        <% else %>
            <%= select_tag "selected_option",
                           options_for_select(["Promote Student", "Demote Student", "Inactivate Students", "Activate Students", "Show Only Inactive Students", "Show only Active Students", "Show Both Inactive and Active Students"]),
                           :onchange => 'myFunction()', :prompt => 'Choose Action', :type => "button",
                           :class => "btn btn-default dropdown-toggle col-md-2", :datatoggle => "dropdown"%>
        <% end %>
      </div>
<!-- This only appears if the teacher wants to create student managers -->
		<div id ="show_managers">
			<%= select_tag "student_manager", options_from_collection_for_select(@student_managers, 'id', :full_name),
		   		:class => "btn btn-default dropdown-toggle col-md-2"%> 
		</div>
		<%= submit_tag :submit, :class => 'btn btn-large btn-primary btn-sm col-md-1', :id => 'action_submit'%>
	</div>

<!-- This script code is used to hide student manager second Drop down when "Create_Team" is selected-->
<script>
	$( "#show_managers").hide();
	$("#parse_box").hide();
	$( "#option" ).click(
		function( event) {
		  	event.preventDefault();
		  	var e = document.getElementById("selected_option");
			var strUser = e.options[e.selectedIndex].text;
			if(strUser=="Create Team")
			{
			  $( "#show_managers" ).show();
			}
			else
			{
			  $( "#show_managers" ).hide();
			}
		}
	);
	$(function() {
		$("#paste").click(
		function() {

		$("#parse_box").toggle();
		});
	});
</script>

<!--Refreshes page using ajax, actually just normally right now-->
<div id = "section_refresh">
	<%= render :partial => 'manage_section', :locals => { :current_students => @select_students }%>
</div>

<%end%>
<br>
