<h1>Student Roster</h1>

<% if @selected_section == "all" %>
	<%= "Displaying all sections"%>
<% else%>
	<%= "This is section #{@selected_section}"%>
<% end %>

<%= @current.first_name %>

<br><br>

<!-- This allows teachers to view certain sections -->
<%= form_tag('/users/set_section') do%>
	<%= select_tag "section_option", options_for_select(@sections, selected: @selected_section)%> 
	<%= submit_tag 'select section'%>
	<a href="/users/create_new_section">Or create a new section!</a> <!-- needs to be changed -->
<% end %>

<br>

<!-- This gets students from the teacher to be put into the database and get their section number -->
<!-- only allow a teacher to add students to a section if a section is selected.-->
<% if @selected_section != "all" %>
	<%= form_tag('/users/input_students_parse') do%>
		<%= label_tag 'Input students you want added to this section here:' %>
		<%= text_area_tag 'input' %>
		<%= submit_tag 'input'%>
	<% end %>	
<% else%>	
	<%= "Please select a section or add one before adding students." %>
<% end %>

<br><br>

<%= link_to 'Add One Student', new_user_path %>

<br><br>

<!-- Everything below here is really just a big form. -->
<%= form_tag('/users/change_student_status') do%>
	<!-- This is first select for what the teacher wants to do with the students -->
	<div id="option">
		Do stuff with the students!
		<br>
		<%= select_tag "selected_option", options_for_select(["Promote_Student", "Create_Team", "Demote_Student", "Delete_Student", "Delete_Everybody"]), :onchange => 'myFunction()', :prompt => 'select option'%>
	</div>
	
	<!-- This is will only appear if the teacher wants to create student managers -->	
	<div id="show_managers">
		<%= select_tag "student_manager", options_from_collection_for_select(@student_managers, 'id', 'last_name')%> 
	</div>
	
	<%= submit_tag :submit%>
	
	<!-- This script code is useed to hide student manager second 
	 Drop down when "Create_Team" is selected-->
	<script>
	$( "#show_managers" ).hide();
	$( "#option" ).click(
		function( event) {
		  	event.preventDefault();
		  	var e = document.getElementById("selected_option");
			var strUser = e.options[e.selectedIndex].text;
			if(strUser=="Create_Team")
			{
			  $( "#show_managers" ).show();
			}
			else
			{ 
			  $( "#show_managers" ).hide();
			}
		}
	);
	</script>

	<br><br>

	<!-- Here is huge table of all the students -->
	<table class ="table dataTable">
	  <thead>
	    <tr>
	      <th></th>
	      <th>first_name</th>
	      <th>last_name</th>
	      <th>ID number</th>
	      <th>email</th>
	      <th>phone</th>
	      <th>student manager</th>
	      <th>section</th>
		  <th>major</th>
		  <th>minor</th>
		  <th>box</th>
		  <th>classification</th>
		  <th></th>
          <th></th>	      	      	      	      	      
	    </tr>
	  </thead>
	  <tbody>
	    <tbody>
            <% @current_students.each do |user, member| %>
              <tr>
              <% if (member.section_number == @selected_section.to_i || @selected_section == "" || @selected_section == "all") && (user.role != 3) %>
                <td><%= check_box_tag "students[]", user.id%></td>
                <td><%= link_to user.first_name, receipts_my_receipts_path %></td>
                <td><a href="/users/create_new_section"><%= user.last_name %></a></td>
                <td><%= user.school_id%></td>
                <td><%= user.email%></td>
                <td><%= user.phone %></td>                
                <% if member.parent_id %>
                <% manager = User.find(member.parent_id) %>
                <td><%= manager.first_name + ' ' + manager.last_name %></td>
                <% else %>
                <td></td>
                <% end %>
                <td><%= member.section_number %></td>
                <td><%= user.major %></td>
                <td><%= user.minor %></td>
                <td><%= user.box %></td>
                <td><%= user.classification %></td>       
                <td><%= link_to 'Edit', edit_user_path(user) %></td>
                <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
                <% end %>
              </tr>
            <% end %>
          </tbody>
        </table>
<%end%>

<br>

<a href="/users/teachers">Teachers page</a>
