<% provide(:title, "Manage Section") %>

<h1 class = "col-md-3", id = "heading">Manage Section</h1>

<h5 class = "col-md-9" id="section_type">

<%= @current.first_name %>, 
<% if @selected_section == "all" %>
	these are all the sections for this project.
<% elsif @selected_section.nil? %>
	you need to create a section. 
<% else%>
	this is section <%= "#{@selected_section}, "%>%>
<% end %>


</h5>
<br><br>

<br>
<br>



<!-- This gets students from the teacher to be put into the database and get their section number -->
<!-- only allow a teacher to add students to a section if a section is selected.-->
<div class = "col-md-12">
<% if @selected_section != "all" %><!-- SWITCH BACK BEFORE PUSH-->
	<%= form_tag('/users/input_students_parse') do%>
		<%= label_tag 'Copy & Paste your student list here or' %> <%= link_to 'Add One Student', new_user_path, class: "btn btn-large btn-link btn-sm" %>
		<br>
		<%= text_area_tag 'input' %>
		<br><%= submit_tag 'Add Students to Section', class: "btn btn-large btn-primary btn-sm"%>
	<% end %>	
<% else%>	

<% end %>
</div>

<br><br>
<!-- This allows teachers to view certain sections -->
<div class = "col-md-9", id = "select-section">
<%= form_tag('/users/set_section') do%>
	<%= select_tag "section_option", options_for_select(@sections, selected: @selected_section)%> 
	<%= submit_tag 'Select Section', class: "btn btn-large btn-primary btn-sm"%>
	<br><br><a href="/users/create_new_section" class="col-md-2 btn btn-info btn-sm">Create a New Section</a> <!-- needs to be changed -->
<br>	
<% end %>
</div>




<br><br>

<!-- Everything below here is really just a big form. -->
<%= form_tag('/users/change_student_status') do%>
	<!-- This is first select for what the teacher wants to do with the students -->
	<div id="option">
		<br>
		<%= select_tag "selected_option", options_for_select(["Promote_Student", "Create_Team", "Demote_Student", "Delete_Student", "Delete_Everybody"]), :onchange => 'myFunction()', :prompt => 'select option'%>
	</div>

	<!-- This is will only appear if the teacher wants to create student managers -->	
	<div id="show_managers">
		<%= select_tag "student_manager", options_from_collection_for_select(@student_managers, 'id', 'last_name')%> 
	</div>

	<%= submit_tag :submit%>

	<!-- This script code is useed to hide student manager second 
	 Drop down when "Create_Team" is selected-->
	<script>
	$( "#show_managers" ).hide();
	$( "#option" ).click(
		function( event) {
		  	event.preventDefault();
		  	var e = document.getElementById("selected_option");
			var strUser = e.options[e.selectedIndex].text;
			if(strUser=="Create_Team")
			{
			  $( "#show_managers" ).show();
			}
			else
			{ 
			  $( "#show_managers" ).hide();
			}
		}
	);
	</script>

	<br><br>

	<!-- Here is huge table of all the students -->
	<table class ="table dataTable">
	  <thead>
	    <tr>
	      <th></th>
	      <th>First Name</th>
	      <th>Last Name</th>
	      <th>ID number</th>
	      <th>Email</th>
	      <th>Phone</th>
	      <th>Student Manager</th>
	      <th>Section</th>
		  <th>Major</th>
		  <th>Minor</th>
		  <th>Box</th>
		  <th>Classification</th>
		  <th></th>
          <th></th>	      	      	      	      	      
	    </tr>
	  </thead>
	  <tbody>
            <% @current_students.each do |user, member| %>
              <tr>
              <% if (member.section_number == @selected_section.to_i || @selected_section == "" || @selected_section == "all") && (user.role != 3) %>
                <td><%= check_box_tag "students[]", user.id%></td>
                <td><%= link_to user.first_name, "/receipts/my_receipts/#{user.id}" %></td>
                <td><%= link_to user.last_name, "/receipts/my_receipts/#{user.id}" %></td>
                <td><%= user.school_id%></td>
                <td><%= user.email%></td>
                <td><%= user.phone %></td>                
                <% if member.parent_id %>
                <% manager = User.find(member.parent_id) %>
                <td><%= manager.first_name + ' ' + manager.last_name %></td>
                <% else %>
                <td></td>
                <% end %>
                <td><%= member.section_number %></td>
                <td><%= user.major %></td>
                <td><%= user.minor %></td>
                <td><%= user.box %></td>
                <td><%= user.classification %></td>       
                <td><%= link_to 'Edit', edit_user_path(user) %></td>
                <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
                <% end %>
              </tr>
            <% end %>
          </tbody>
        </table>
<%end%>

<br>

<a href="/users/teachers">Teachers page</a>