<% provide(:excel, (link_to (image_tag 'excel.png'), users_path(format: "xls"), :title => "Export to Excel").html_safe) %>
<% provide(:title, 'Students') %>

<%= render :partial => 'reports/dropdown' , :locals => {:sections => @sections}%>


<!--Creates a new Section link-->
<div id="new_section">
	<%=link_to 'Create a New Section', users_create_new_section_path, :class => 'btn btn-link btn-sm' %>
</div>

<!-- Adds students to a section and is only allowed for a teacher-->

<% if @selected_section == 'all' %>
  <p id = "info_message" class = "alert alert-info ">You are currently viewing all students.<br /> Please select a section or create a section for additional options.</p>
      <div id = "section_refresh">
        <%= render :partial => 'manage_section', :locals => { :current_students => @select_students }%>
      </div>
<% else %>  
   <div id='add_student'> <%= link_to 'Add Students', new_user_path, :id => 'add_student', class: 'btn btn-large btn-link btn-sm'%>
   </div>
  <!--Actions for the teacher to do with the students and sections-->
  <%= form_tag users_change_student_status_path, :id => 'student_options' do%>
    <div id= "manage_dropdown">
      <div id = "option">
        <%= select_tag 'selected_option',
                        options_for_select(['Promote Student', 'Demote Student', 'Add to Team', 'Remove from Team', "Assign Bonus Points" ]),
                        :prompt => 'Choose Action', :type => 'button',
                        :class => 'btn btn-default dropdown-toggle col-md-2', :datatoggle => 'dropdown',
                        :disabled => archived? %>
      </div>
      <!-- This only appears if the teacher wants to assign a team to a student manager -->
      <div id ="show_managers">
        <% if @student_managers.count > 0 %>
          <%= select_tag 'student_manager', options_from_collection_for_select(@student_managers, 'id', :full_name),
                       :class => 'btn btn-default dropdown-toggle col-md-2', :disabled => archived? %>
      <% else %>
        <p id="no_managers" class="alert alert-error">Please promote students before creating a team.</p>
      <% end %>
      </div> 
 
      <div id ="assign_bonus_points">
        <p>Number of bonus points:
        <%= number_field_tag 'bonus_points' %></p>
        <p>Please enter the reason for the bonus points:
        <%= text_area_tag 'bonus_comment' %></p>
      </div>
    <%= submit_tag :Submit, :class => 'btn btn-primary btn-sm col-md-1', :id => 'action_submit', :disabled => archived?  %>
    </div>

      <div id = "section_refresh">
        <%= render :partial => 'manage_section', :locals => { :current_students => @select_students }%>
      </div>
    <%end%>
<%end%>

  <div id="student_managers" value="<%@student_managers%>"</div>
