<a id="top" name="top"></a>
<br /><br /><br />

<h1>Need help for </h1>
<%= link_to "Download the entire Help Page", users_download_help_path, :class => 'btn btn-large btn-primary btn-sm' %>

<ul class="nav">
	<% if current_user.role == 3 %>
		<li class="dropdown-menu">
			<a data-target="#" class="dropdown-toggle" data-toggle="dropdown">Manage Section <b class="caret"></b></a>
			<ul class="dropdown-menu">
				<li><%= link_to 'Create and View a Section', :anchor => 'manage_section' %></li>
				<li><%= link_to 'Add Students to a Section', :anchor => 'manage_section' %></li>
				<li><%= link_to 'Edit Student Managers and Teams', :anchor => 'manage_section' %></li>
				<li><%= link_to "View a Student's Report??????", :anchor => 'manage_section' %></li>
			</ul>
		</li>
		<li class="dropdown-menu">
			<a data-target="#" class="dropdown-toggle" data-toggle="dropdown">Assign Clients <b class="caret"></b></a>
			<ul class="dropdown-menu">
				<li><%= link_to 'Finding a Client', :anchor => 'manage_clients' %></li>
			</ul>
		</li>
	<% end %>
</ul>
	<% if current_user.role == 3 %>


<br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
<br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
<a id="manage_section" name="manage_section"></a>
<br /><br />
	<h1>Manage Section</h1>
	
<br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
<br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />	

<%=  link_to 'Back to the Top', :anchor => 'top' %>
<a id="manage_clients" name="manage_clients"></a>
<br /><br />
	<h1>Manage Clients</h1>
<br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
<br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />

<% else %>
	<h1>Choose Clients</h1>

	<h1>My Clients</h1>
	
	<h1>Submit Client</h1>
<% end %>