<% provide(:title, 'Add Students') %>
<%= params[:per_page] %>
<div>
  <br />
  <p><strong>Copy and Paste your Excel spreadsheet below. <span id="helper"><%= image_tag("help.png", :id => "help")%></span></strong></p>

  <div id="parse_box">
    <%= form_tag(users_input_students_parse_path) do %>
        <br/>
	<div id="parse_help" class="form_background">
		<p>You must have only the following columns in your excel spreadsheet:</p>
	    <p>Course, ID, Name, Class, Grad Term, Box, Phone, Email, Major, Minor, Work, RA</p>
	    <p>The only columns that must have actual data are ID, Name, Phone, Email, but you still need
	    	to include blank columns for the others.</p>
	    <p>However, it is recommended to paste all relevant columns.</p><br />
	   
	<ul id="excel_rules">
		<li>First, open your Excel Worksheet.</li>
		<li>Click anywhere inside the content of your student roster.</li>
		<li>Press CTRL-A to select all the content of the student roster.</li>
		<li>Press CTRL-C to copy the roster.</li>
		<li>Click inside the “Paste Your Student List Here” text box on the New Students page.</li>
		<li>Press CTRL-V to paste the roster into the box.</li>
		<li>Submit the form.</li>
		<li>If everything is successful, you will be notified by a message at the top of the page.</li>
		<li>Enjoy the time you saved.</li>
	</ul>
	<p id="hide_help" class="fake-link">Hide</p>	
	</div>
  </div>
        <%= text_area_tag 'input', nil, :class => 'form-control', :id => 'students_text_parse' %>
        <br/><%= submit_tag 'Add Students to Section', :class => 'btn btn-large btn-primary btn-sm', :disabled => archived? %>
    <% end %>
    
  <%= render 'form', locals: 'new_student' %>
</div>





