

<h1 class = "col-md-12" id = "heading">Add Student</h1>
<%= params[:per_page] %>

<%= link_to 'Back', users_path %>


<% if @user.role != 3 %>
	<h1>New student</h1>
	<%= render 'form' %>
<% else %>
	<h1>Editing teacher</h1>
	<%= render 'teacher_form' %>
<% end %>

<%= link_to 'Show', @user %>
<%= link_to 'Back', :back %>

