<% provide(:title, 'Add Students') %>
<%= params[:per_page] %>
<div>
  <p id="paste" class="fake-link btn btn-large btn-link btn-sm ">Copy and Paste your Excel spreadsheet of students
    here:</p>

  <div id="parse_box">
    <%= form_tag(users_input_students_parse_path) do %>
        <br/>
        <%= text_area_tag 'input', nil, :class => 'form-control', :id => 'students_text_parse' %>
        <br/><%= submit_tag 'Add Students to Section', :class => 'btn btn-large btn-primary btn-sm', :disabled => archived? %>
    <% end %>
  </div>
  <%= render 'form', locals: 'new_student' %>
</div>




