<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user.first_name %>
  <%= @user.last_name %>
</p>
<p>
  <strong>School ID:</strong>
  <%= @user.school_id %>
</p>
<p>
  <strong>Section:</strong>
  <%= @user.section %>
</p>
<p>
  <strong>Student Manager:</strong>
  <%= @user.parent_id %>
</p>
<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>
<p>
  <strong>Phone:</strong>
  <%= @user.phone %>
</p>
<p>
  <strong>Major:</strong>
  <%= @user.major %>
</p>
<p>
  <strong>Minor:</strong>
  <%= @user.minor %>
</p>
<p>
  <strong>Classification</strong>
  <%= @user.classification %>
</p>
<p>
  <strong>Box:</strong>
  <%= @user.box %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
