<p id="notice"><%= notice %></p>

<%if @user.role != 3 %>
  <p>
    <strong>Name:</strong>
    <%= @user.first_name %>
    <%= @user.last_name %>
  </p>
  <p>
    <strong>School ID:</strong>
    <%= @user.school_id %>
  </p>
  <p>
    <strong>Email:</strong>
    <%= @user.email %>
  </p>
  <p>
    <strong>Phone:</strong>
    <%= @user.phone %>
  </p>
  <p>
    <strong>Major:</strong>
    <%= @user.major %>
  </p>
  <p>
    <strong>Minor:</strong>
    <%= @user.minor %>
  </p>
  <p>
    <strong>Classification</strong>
    <%= @user.classification %>
  </p>
  <p>
    <strong>Box:</strong>
    <%= @user.box %>
  </p>
<% else %>
  <p>
    <strong>Name:</strong>
    <%= @user.first_name %>
    <%= @user.last_name %>
  </p>
  <p>
    <strong>School ID:</strong>
    <%= @user.school_id %>
  </p>
  <p>
    <strong>Email:</strong>
    <%= @user.email %>
  </p>
  <p>
    <strong>Phone:</strong>
    <%= @user.phone %>
  </p>
<% end %>





<%= link_to 'Edit', edit_user_path(@user), :class => 'btn btn-large btn-primary btn-sm' %> |
<%= link_to 'Back to Manage Section', users_path, :class => 'btn btn-large btn-primary btn-sm' %>

<br /><br /><br /><br /><br /><br /><br /><br /><br />