<h1>Complete Walkthrough as a </h1>

<% if current_user.role == 3 %>
	<h1>Teacher</h1>

	<%= link_to "This goes to iframe", controller: "clients", action: "new", class: "fancybox fancybox.iframe" %>
	<div id="full_help_teacher">
    <%= image_tag "Lighthouse.jpg", width: "150", height: "150", title: "Hello" %><br /><br />
    <%= image_tag "Penguins.jpg", width: "0", height: "0" %>
	</div>
<% else %>
	<h1>Student</h1>
	
	<div id="full_help_student">
    <%= image_tag "Lighthouse.jpg", width: "150", height: "150", title: "Hello" %><br /><br />
    <%= image_tag "Tulips.jpg", width: "0", height: "0" %>
	</div>
<% end %>

<script type="text/javascript">

	$("#full_help_teacher img").click(function(e) {
 		$.fancybox([
  			'/assets/Lighthouse.jpg',
  			'/assets/Penguins.jpg'
  		],{
   			'type'     : 'image',
   			nextEffect : 'fade',
   			prevEffect : 'fade'
 		});
	});
	
	$("#full_help_student img").click(function(e) {
 		$.fancybox([
  			'/assets/Lighthouse.jpg',
  			'/assets/Tulips.jpg'
  		],{
   			'type'     : 'image',
   			nextEffect : 'fade',
   			prevEffect : 'fade'
 		});
	});
	
	$("a.fancybox").fancybox({
		autoScale : true,
		afterClose : function() {
			location.reload();
			return;
		}
	});
</script>