<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>
<p>
  <strong>School ID:</strong>
  <%= @user.school_id %>
</p>
<p>
  <strong>Section:</strong>
  <%= @user.section %>
</p>
<p>
  <strong>Parent ID:</strong>
  <%= @user.parent_id %>
</p>
<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>
<p>
  <strong>Mobile Number:</strong>
  <%= @user.mobile_number %>
</p>
<p>
  <strong>Box Number</strong>
  <%= @user.box_number %>
</p>
<p>
  <strong>Room Number:</strong>
  <%= @user.room_number %>
</p>
<p>
  <strong>Power Token:</strong>
  <%= @user.power_token %>
</p>
<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
