
<% provide(:title, 'Teachers') %>
<% provide(:excel, (link_to (image_tag 'excel.png'), users_teachers_path(format: 'xls'), :title => "Export to Excel").html_safe) %>



<%= link_to 'Add New Teacher', users_new_teacher_path, class: 'btn btn-link btn-sm', id:'add_teacher' %>




<div id="Change_Teacher">
	<%= form_tag(users_change_teacher_path) do%>
		<p>Change <span id='oldTeacher'></span> to <p>
		<input id="memberId" type="hidden" name="member_id" />
		<%= select_tag 'teacher_to_change_to', options_from_collection_for_select(@all_teachers, 'id', :teacher_full_name),
		                                     {:include_blank => false, :class => 'btn btn-default dropdown-toggle'} %>
		<%= submit_tag 'Change the Teacher' , class: 'btn btn-primary btn-sm'%>
	<% end %>
</div>

<div  id="New_Teacher">
	<%= form_tag(users_another_teacher_to_section_path) do%>
		<p>Add another teacher for section <span id='sectionNumber'></span><p>
  		<input id="section" type="hidden" name="section" />
		<%= select_tag 'new_teacher_to_add', options_from_collection_for_select(@all_teachers, 'id', :teacher_full_name),
		                                     {:include_blank => false, :class => 'btn btn-default dropdown-toggle'} %>
		<%= submit_tag 'Add New Teacher', class: 'btn btn-primary btn-sm' %>
	<% end %>
</div>




<h2 id="current_teacher">Current Teachers<span class="excel">
  <%= link_to (image_tag 'excel.png'), users_teachers_path(format: 'xls') %>
</span></h2>


<table class="display teacher_table">
	<thead>
		<tr>
			<th>Section</th>
			<th>First Name</th>
			<th>Last Name</th>
			<th>School ID</th>
			<th>Email</th>
			<th class="empty"></th>  
			<th class="empty"></th> 
			<th class="empty"></th>                                      
		</tr>
	</thead>
	<tbody>
	<% trid = 0 %>
		<% @current_teachers.each do |t| %>
			<tr>
				<td align ="center"><%= t.section_number %></td>   
				<td><%= t.first_name %></td>
				<td><%= t.last_name %></td>
				<td><%= t.school_id%></td>
				<td><%= t.email%></td>
				<td><span id="newtrid<%= trid %>" name="<%= t.section_number  %>" class="fake-link btn btn-large btn-link btn-sm New_Teacher_Link">Add Another Teacher</span></td>
				<td><span id="changetrid<%= trid; trid = trid + 1%>" name="<%= t.full_name %>" value="<%= t.m_id%>" class="fake-link btn btn-large btn-link btn-sm Change_Teacher_Link">Change Teacher</span></td>
				<% if @number_of_teachers_per_section[t.section_number] > 1 %>
					<td><%= link_to 'Remove', users_remove_member_path(id: Member.where(user_id: t.id, project_id: get_selected_project, section_number: t.section_number).first), 
					           method: :post,  confirm: 'Are you sure you wish to remove this teacher from this section?'%></td>
				<% else %>
					<td></td>
				<% end %>
			</tr>
		<% end %>
	</tbody>
</table>

<h2>Teacher Roster<span class="excel">
  <%= link_to (image_tag 'excel.png'), users_teachers_path(format: 'xls') %>
</span></h2>

<table class ="display teacher_table">
	<thead>
		<tr>
			<th>First Name</th>
			<th>Last Name</th>
			<th>School ID</th>
			<th>Email</th>
			<th class="empty"></th>
		</tr>
	</thead>
	<tbody>
		<% @all_teachers.each do |t| %>
			<tr>
				<td><%= t.first_name %></td>
				<td><%= t.last_name %></td>
				<td><%= t.school_id%></td>
				<td><%= t.email%></td>                     
				<td><%= link_to 'Edit', edit_user_path(t) %></td>
			</tr>
		<% end %>
	</tbody>
</table>