<table class ="table dataTable">
  <thead>
    <tr>
      <th>First Name</th>
      <th>Last Name</th>
      <th>ID number</th>
      <th>Email</th>
      <th>Phone</th>
      <th>Teaches section(s)</th>
      <th></th>
      <th></th>  
      <th></th>                                      
    </tr>
  </thead>
  <tbody>
    <% @current_teachers.each do |user, member| %>
      <tr align ="center">
        <td><%= user.first_name %></td>
        <td><%= user.last_name %></td>
        <td><%= user.school_id%></td>
        <td><%= user.email%></td>
        <td><%= user.phone %></td>                
        <td><%= member.section_number %></td>      
        <td><%= link_to 'Show', user %></td>
        <td><%= link_to 'Edit', edit_user_path(user) %></td>
        <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>