  <table class ="table">
    <thead>
      <tr>
        <th><%=sortable "first_name"%></th>
        <th><%=sortable "last_name"%></th>
        <th><%=sortable "school_id", "ID number"%></th>
        <th><%=sortable "email"%></th>
        <th><%=sortable "phone"%></th>
        <th><%=sortable "section", "Teaches section(s)"%></th>
      <th></th>
          <th></th>                                       
      </tr>
    </thead>
    <tbody>
      <tbody>
            <% @current_teachers.each do |user, member| %>
              <tr>
                <td><%= user.first_name %></td>
                <td><%= user.last_name %></td>
                <td><%= user.school_id%></td>
                <td><%= user.email%></td>
                <td><%= user.phone %></td>                
                <td><%= member.section_number %></td>      
                <td><%= link_to 'Show', user %></td>
                <td><%= link_to 'Edit', edit_user_path(user) %></td>
                <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
              </tr>
            <% end %>
          </tbody>
        </table>