<h1> Teacher's Page </h1>

<%= link_to 'Add New Teacher', new_user_path, 
                                    :id => "link-2", 
                                    class: "btn btn-large btn-link btn-sm"%>


<br><br><br>

<h2>Current Teachers</h2>
<br>
<table class ="table dataTable">
  <thead>
    <tr>
      <th>First Name</th>
      <th>Last Name</th>
      <th>ID number</th>
      <th>Email</th>
      <th>Phone</th>
      <th>Teaches section(s)</th>
      <th></th>
      <th></th>  
      <th></th>                                      
    </tr>
  </thead>
  <tbody>
    <% @current_teachers.each do |t| %>
      <tr align ="center">
        <td><%= t.first_name %></td>
        <td><%= t.last_name %></td>
        <td><%= t.school_id%></td>
        <td><%= t.email%></td>
        <td><%= t.phone %></td>                
        <td><%= t.section_number %></td>      
        <td><%= link_to 'Show', "/users/#{t.id}" %></td>
        <td><%= link_to 'Edit', edit_user_path(t.id) %></td>
        <% if t.is_enabled %>
          <td><%= link_to 'Inactivate', {controller: :users, action: :change_is_enabled, id: t.id}, method: :post %></td>
        <% else %>
          <td><%= link_to 'Activate', {controller: :users, action: :change_is_enabled, id: t.id}, method: :post %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br><br>
<h2>Teacher Roster</h2>
<table class ="table dataTable">
  <thead>
    <tr>
      <th>First Name</th>
      <th>Last Name</th>
      <th>ID number</th>
      <th>Email</th>
      <th>Phone</th>
      <th></th>
      <th></th>                                     
    </tr>
  </thead>
  <tbody>
    <% @all_teachers.each do |t| %>
      <tr align ="center">
        <td><%= t.first_name %></td>
        <td><%= t.last_name %></td>
        <td><%= t.school_id%></td>
        <td><%= t.email%></td>
        <td><%= t.phone %></td>                      
        <td><%= link_to 'Show', "/users/#{t.id}" %></td>
        <td><%= link_to 'Edit', edit_user_path(t) %></td>
      </tr>
    <% end %>
  </tbody>

</table>