<table class="display">
  <thead>
  <tr>
    <th class="empty"></th>
    <th>Owner</th>
    <th>Business name</th>
    <th>Address</th>
    <th>City</th>
    <th>State</th>
    <th>Zip</th>
    <th>Telephone</th>
    <th>Contact title</th>
    <th>First name</th>
    <th>Last name</th>
    <th>E-mail</th>
    <th>Comment</th>
  </tr>

  </thead>

  <tbody>
  <% pending_clients.each do |client|%>
      <tr>
        <td><%= check_box_tag 'clients[]', client.id %></td>
        <td><%= get_submitter_info(client.submitter) %></td>
        <td><%= link_to client.business_name, client_path(client.id) %></td>
        <td><%= client.address %></td>
        <td><%= client.city %></td>
        <td><%= client.state %></td>
        <td><%= client.zipcode %></td>
        <td><%= client.telephone %></td>
        <td><%= client.contact_title %></td>
        <td><%= client.contact_fname %></td>
        <td><%= client.contact_lname %></td>
        <td><%= client.email %></td>
        <td ><%= tooltipify(client.comment).html_safe%></td>
      </tr>
  <% end %>
  </tbody>
</table>