<%= form_for(@client) do |f| %>
    <% if @client.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@client.errors.count, 'error') %> prohibited this client from being saved:</h2>

          <ul>
            <% @client.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>
    <div class = "panel panel-primary">
      <div class = "panel-heading">
        <h3>&nbsp;Business Information</h3>
      </div>
      <div class = "panel-body">
      	
      	<% if @client.new_record? %>
      	<div class="alert alert-info" id="checkClients">
	        <p>Check the tables below to see if your client is already pending or unapproved.</p>
        </div>
        <% end %>

        <div id="business_name">
          <%= f.label :business_name, class: 'required' %>
          <%= f.text_field :business_name, class: 'form-control',  rows:3 %>
        </div>
		
        <div id="address">
          <%= f.label :address, class: 'required' %>
          <%= f.text_field :address, class: 'form-control',  rows:3 %>
	  </div>
   <div id="city">
          <%= f.label :city, class: 'required' %>
          <%= f.text_field :city, class: 'form-control',  rows:3 %>
	  </div>
 <div id="state">
          <%= f.label :state %>
          <%= f.select :state, %w(AL AK AZ AR CA CO CT DE DC FL GA HI ID IL IN IA KS KY LA ME
                            MD MA MI MN MS MO MT NE NV NH NJ NM NY NC ND OH OK OR PA RI
                            SC SD TN TX UT VT VA WA WV WI WY), :selected => @client.state || 'FL', :class => 'btn btn-default dropdown-toggle col-md-2' %>
							</div>
    <div id="zip">                         
          <%= f.label :zipcode, class: 'required' %>
          <%= f.text_field :zipcode, class: 'form-control',  rows:3 %>
        </div>
        <div id="contact_title">
          <%= f.label 'Contact title' %>
          <%= f.select :contact_title, %w(Mr. Mrs. Ms. Miss Dr.), :include_blank => :true, class: 'btn btn-small btn-dropdown'%>
		  </div>
		   <div id="contact_fname">
          <%= f.label 'First name', class: 'required' %>
          <%= f.text_field :contact_fname, class: 'form-control',  rows:3 %>
		  </div>
		   <div id="contact_lname">
          <%= f.label 'Last name', class: 'required' %>
          <%= f.text_field :contact_lname, class: 'form-control',  rows:3 %>
	  </div>
        <div id="contact_name">
          <%= f.label 'Contact title' %>
          <%= f.select :contact_title, %w(Mr. Mrs. Ms. Miss Dr.), :include_blank => :true %>
          <%= f.label 'First name' %>
          <%= f.text_field :contact_fname %>
          <%= f.label 'Last name' %>
          <%= f.text_field :contact_lname %>
     	</div>
	    <div id="phone_email">
	   	  <%= f.label 'Email' %>
          <%= f.text_field :email %>
          <%= f.label :telephone, 'Phone:', class: 'required' %>
          <%= f.text_field :telephone, value: render_phone(@client.telephone), :placeholder => '850-123-4567 Ext.####', class: 'form-control',  rows:3  %>

         </div>
         <div id="comment" class="field">
          <%= f.label :comment %>
          <%= f.text_area :comment, class: 'form-control',  rows:3  %>
        </div>
      </div>
    </div>
    <div class="actions">
    	<% if @client.new_record? %>
		  <% if current_user.role == 3 %>
		  	<%= f.submit 'Submit Client', :class => 'btn btn-small btn-primary'%>
		  <% elsif more_tickets_allowed %>
		  	<%= f.submit "Submit for teacher's approval", :class => 'btn btn-small btn-primary'%>
		  <% else %>
		  	<%= f.submit 'Submit Client', :class => 'btn btn-small btn-primary', disabled: true %>
		  	<p class="text-info">You already have the maximum allowable clients.
		  		Please go to <%= link_to 'My Clients', my_receipts_path(id: current_user.id) %>
		    	and release one of your clients before asking for another.</p>
		  <% end %>
	  <% else %>
	     <%= f.submit 'Update Client', :class => 'btn btn-small btn-primary'%>
	  <% end %>
    </div>
    

<% end %>
