<%= form_for(@client) do |f| %>
    <% if @client.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@client.errors.count, 'error') %> prohibited this client from being saved:</h2>

          <ul>
            <% @client.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>
    <div class = "panel panel-primary">
      <div class = "panel-heading">
        <h3>&nbsp;Business Information</h3>
      </div>
      <div class = "panel-body">

        <div id="business_name">
          <%= f.label :business_name, class: 'required' %>
          <%= f.text_field :business_name %>
        </div>
        <div id="add_city_st">
          <%= f.label :address, class: 'required' %>
          <%= f.text_field :address %>


          <%= f.label :city, class: 'required' %>
          <%= f.text_field :city %>


          <%= f.label :state %>
          <%= f.select :state, %w(AL AK AZ AR CA CO CT DE DC FL GA HI ID IL IN IA KS KY LA ME
                            MD MA MI MN MS MO MT NE NV NH NJ NM NY NC ND OH OK OR PA RI
                            SC SD TN TX UT VT VA WA WV WI WY), :selected => @client.state || 'FL' %>
                            
          <%= f.label :zipcode, class: 'required' %>
          <%= f.text_field :zipcode %>
        </div>
        <div id="contact_info">
          <%= f.label 'Contact title' %>
          <%= f.select :contact_title, %w(Mr. Mrs. Ms. Miss Dr.), :include_blank => :true %>
          <%= f.label 'First name', class: 'required' %>
          <%= f.text_field :contact_fname %>
          <%= f.label 'Last name', class: 'required' %>
          <%= f.text_field :contact_lname %>

          <%= f.label :telephone, 'Phone:', class: 'required' %>
          <%= f.text_field :telephone, :placeholder => '850-123-4567 Ext.####' %>

        </div>
        <div id="comment" class="field">
          <%= f.label :comment %>
          <%= f.text_area :comment %>
        </div>
      </div>
    </div>
    <div class="actions">
      <% if current_user.role == 3 %>
          <%= f.submit 'Submit Client', :class => 'btn btn-small btn-primary'%>
      <% elsif more_tickets_allowed %>
          <%= f.submit "Submit for teacher's approval", :class => 'btn btn-small btn-primary'%>
      <% else %>
          <p>You already have the maximum number of allowable clients.</p>
          <p>Please go to <%= link_to 'My Clients', my_receipts_path(id: current_user.id) %>
            and release one of your clients before asking for another.</p>

      <% end %>
    </div>

<% end %>
