<%= form_for(@client) do |f| %>
  <% if @client.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@client.errors.count, "error") %> prohibited this client from being saved:</h2>

      <ul>
      <% @client.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :business_name %><br>
    <%= f.text_field :business_name %>
  </div>
  <div class="field">
    <%= f.label :address %><br>
    <%= f.text_field :address %>
  </div>
  <div class="field">
    <%= f.label :city %><br>
    <%= f.text_field :city %>
  </div>
  <div class="field">
    <%= f.label :state %><br>
    <%= f.select :state, ["AL", "AK", "AZ", "AR", "CA", "CO", "CT", "DE", "DC", "FL", "GA", 
    	                  "HI", "ID", "IL", "IN", "IA", "KS", "KY", "LA", "ME", "MD", "MA", 
    	                  "MI", "MN", "MS", "MO", "MT", "NE", "NV", "NH", "NJ", "NM", "NY", 
    	                  "NC", "ND", "OH", "OK", "OR", "PA", "RI", "SC", "SD", "TN", "TX", 
    	                  "UT", "VT", "VA", "WA", "WV", "WI", "WY"], :selected => @client.state || "FL" %>
  </div>
  <div class="field">
    <%= f.label :zipcode %><br>
    <%= f.text_field :zipcode %>
  </div>  
  <div class="field">
    <%= f.label "Contact title" %>
    <%= f.label "Contact first name" %>
    <%= f.label "Contact last name" %><br>
    <%= f.select :contact_title, ["Mr.", "Mrs.", "Ms.", "Miss", "Dr."], :include_blank => :true %>
    <%= f.text_field :contact_fname %>
    <%= f.text_field :contact_lname %>
  </div>
  <div class="field">
    <%= f.label :telephone, "Telephone (Area code 850 is default)" %>
    <%= f.text_field :telephone, :placeholder => "(850) 123-4567 Ext.####" %>
  </div>
  <div class="field">
    <%= f.label :comment %><br>
    <%= f.text_area :comment, :placeholder => "This field is optional. Only leave comments if absolutely necessary." %>
  </div>

  <% if current_user.role == 3 %>
  <div class="actions">
    <%= f.submit %>
  </div>
  <% else %>
    <div class="actions">
    <%= f.submit "Submit for teacher's approval"%>
  </div>
  <% end %>
<% end %>

<!-- This adds client-side validation -->
<script>
	$(document).ready(function () {
		
		// Custom method to make sure only letters are entered
		jQuery.validator.addMethod("letters_only", function(value, element) {
			return this.optional(element) || /^[-a-zA-Z\s]+$/i.test(value);
		});

		$("#new_client").validate({
			rules: {
				"client[business_name]": {required: true},
				"client[address]": {required: true},
				"client[city]": {required: true, letters_only: true},
				"client[zipcode]": {required: true, rangelength: [5,5], digits: true},
				"client[email]": {email: true},
				"client[contact_fname]": {required: true, letters_only: true},
				"client[contact_lname]": {required: true, letters_only: true},
				"client[telephone]": {required: true}
			},
			messages: {
				"client[business_name]": "Please enter the business name.",
				"client[address]": "Please enter the address.",
				"client[city]": "Please enter a valid city.",
				"client[zipcode]": "Please enter a valid zipcode.",
				"client[email]": "Please enter a valid email address.",
				"client[contact_fname]": "Please enter a first name.",
				"client[contact_lname]": "Please enter a last name.",
				"client[telephone]": "Please enter a telephone number."
			}
		});
	});
</script>