<xml version="1.0">
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:o="urn:schemas-microsoft-com:office:office"
  xmlns:x="urn:schemas-microsoft-com:office:excel"
  xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:html="http://www.w3.org/TR/REC-html40">
  <Worksheet ss:Name="Sheet1">
    <Table>
      <Row>
        <Cell><Data ss:Type="String">Business name</Data></Cell>
        <Cell><Data ss:Type="String">Address</Data></Cell>
        <Cell><Data ss:Type="String">City</Data></Cell>
        <Cell><Data ss:Type="String">State</Data></Cell>
        <Cell><Data ss:Type="String">Zip</Data></Cell>
        <Cell><Data ss:Type="String">Telephone</Data></Cell>
        <Cell><Data ss:Type="String">Contact title</Data></Cell>
        <Cell><Data ss:Type="String">First name</Data></Cell>
        <Cell><Data ss:Type="String">Last name</Data></Cell>
        <Cell><Data ss:Type="String">E-mail</Data></Cell>
        <Cell><Data ss:Type="String">Comment</Data></Cell>
      </Row>
      <% if defined? @unapproved_clients %>
        <% @unapproved_clients.each do |client| %>
          <Row>
            <Cell><Data ss:Type="String"><%= client.business_name %></Data></Cell>
            <Cell><Data ss:Type="String"><%= client.address %></Data></Cell>
            <Cell><Data ss:Type="String"><%= client.city %></Data></Cell>
            <Cell><Data ss:Type="String"><%= client.state %></Data></Cell>
            <Cell><Data ss:Type="Number"><%= client.zipcode %></Data></Cell>
            <Cell><Data ss:Type="String"><%= client.telephone %></Data></Cell>
            <Cell><Data ss:Type="String"><%= client.contact_title %></Data></Cell>
            <Cell><Data ss:Type="String"><%= client.contact_fname %></Data></Cell>
            <Cell><Data ss:Type="String"><%= client.contact_lname %></Data></Cell>
            <Cell><Data ss:Type="String"><%= client.email %></Data></Cell>
            <Cell><Data ss:Type="String"><%= client.comment%></Data></Cell>
          </Row>
        <% end %>
      <% end %>
    </Table>
  </Worksheet>
</Workbook>

