<script>
	var last_update = "<%= Time.now.strftime("%Y/%m/%d %H:%M:%S") %>";
	
/* Quick check to make sure timestamp is coming through	
	$(function(){
		
		alert(last_update);
	});
*/	


$(function() {
    console.log( "ready!" );
    
    
    //currently writing to ping server
    $(".addTicket").click(function(caller){		
		console.log(caller.target.id);		
		
		$.ajax({			
			//url: "localhost:3000/clients#ping",
			type: "post",
			url: "localhost:3000/clients",
			
			data: {id: caller.target.id},
			
			statusCode: {404: function() {
				      			alert( "page not found" );
			    			  }
				  		},	
			
			error: function(xhr, status, error) 
				{
				  console.log(xhr);
				  //var err = eval("(" + xhr.responseText + ")");
				  //alert(err.Message);
				}
	  		//success: function() {alert("success")}, 
	  		//fail:    function() {alert("failed")},
	  		//error:   function() {alert("error")},	  		
/*
	  		    complete: function(xhr, textStatus) {
        console.log(xhr.status);
    } 						
*/		
		});

	});
	
	
	
	setTimeout(updateClients, 1000);
	
	
	function updateClients() {
	  
	  
	  $.getScript("/clients.js?ajax=Noah Conrad")
	  
	  //..
	  setTimeout(updateClients, 5000);
	  
	}
	

});


</script>

<h1>Listing clients</h1>

<table>
  <thead>
    <tr>
    	<th> </th>
      <th>Business name</th>
      <th>Address</th>
      <th>Email</th>
      <th>Contact name</th>
      <th>Telephone</th>
      <th>Comment</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
    
  </thead>

  <tbody>

<% @tickets.each do |ticket| %>    
      <tr>
      	<!-- creates a button for each client.-->
      	<!-- ### need  to create jquery function to run when button is clicked!!### -->
        <td> <%= button_tag "add", type: 'button',  :id => ticket.id, :class => "addTicket" %></td> 
        
          	
        <td><%= ticket.client.business_name %></td>
        <td><%= ticket.client.address %></td>
        <td><%= ticket.client.email %></td>
        <td><%= ticket.client.contact_title %></td>
        <td><%= ticket.client.contact_fname %></td>
        <td><%= ticket.client.contact_lname %></td>
        <td><%= ticket.client.telephone %></td>
        <td><%= ticket.client.comment %></td>
      </tr>
<% end %>
    


  </tbody>
</table>

	


<br>

<%= link_to 'New Client', new_client_path %>
