<% provide(:title, 'Assign Clients') %>
<% provide(:excel, (link_to (image_tag 'excel.png'), clients_path(format: "xls"), :title => "Export to Excel").html_safe) %>


<table class="display assign_table" id="client_list">
  <thead>
  <tr>
    <th>Owner</th>
    <th>Priority</th>
    <th>Business name</th>
    <th>Address</th>
    <th>Person to Contact</th>
    <th>Comment</th>
  </tr>
  </thead>

  <tbody>
  <% @tickets.each do |ticket| %>
      <tr class="<%= ticket.priority.name %>">
        <td class="choosecolumn">
          <% if ticket.id %>
              <% if get_selected_project.is_active == true %>
                 <% if ticket.student_fname %>
                     <%= (ticket.student_fname + ' ' +  ticket.student_lname + '<br />(' + ticket.student_id + ')').html_safe %>
                  <% else %>
                     <%= link_to 'Assign', clients_show_assign_for_path(:tid => ticket.id), {:id => ticket.id, :class => 'btn btn-link btn-sm assign'} %>
                  <% end %>
              <% else%>
                  <%= link_to 'Assign', clients_show_assign_for_path(:tid => ticket.id), {:id => ticket.id, :class => 'btn btn-link btn-sm assign', disabled: true }%>
               <% end %>
          <% else %>
              <%= 'Ticket does not exist for this client' %>
          <% end %>
        </td>   
        <td class="priority"><span><%= ticket.priority.name.capitalize %></span></td>     
        <td title="View Client Details"><%= link_to tooltipify(ticket.business_name, 35), client_path(ticket.client_id, page: request.url) %></td>
        <td><%= tooltipify(ticket.address, 35) %></td>
        <td><%= tooltipify(ticket.contact_title + ' ' + ticket.contact_fname + ' ' +  ticket.contact_lname, 20)%></td>
        <td><%= tooltipify(ticket.comment)%></td>
      </tr>
  <% end %>
  </tbody>
</table>
