<% provide(:title, 'Assign Clients') %>
<!-- EXPO
<p>
  Download:
  <%= link_to "Excel", clients_path(format: "xls") %>
</p> -->
<table class="display" id="client_list">
  <thead>
  <tr>
    <% if (project = get_selected_project).is_active == true %>
        <th>Owner</th>
    <% end %>
    <th>Business name</th>
    <th>Address</th>
    <th>City</th>
    <th>State</th>
    <th>Zip</th>
    <th>Telephone</th>
    <th>Contact title</th>
    <th>First name</th>
    <th>Last name</th>
    <th>E-mail</th>
    <th>Comment</th>
  </tr>
  </thead>

  <tbody>
  <% @tickets.each do |ticket| %>
      <tr>
        <% if project.is_active == true %>
            <td>
              <% if ticket.id %>
                  <% if ticket.student_fname %>
                      <%= (ticket.student_fname + ' ' +  ticket.student_lname + '<br />(' + ticket.student_id + ')').html_safe %>
                  <% else %>
                      <%= link_to 'assign', clients_assign_path(:tid => ticket.id), {:id => ticket.id, :class => 'btn btn-primary btn-sm'} %>
                  <% end %>
              <% else %>
                  <%= 'Ticket does not exist for this client' %>
              <% end %>
            </td>
        <% end %>
        <td><%= link_to ticket.business_name, client_path(ticket.client_id) %></td>
        <td><%= ticket.address %></td>
        <td><%= ticket.city %></td>
        <td><%= ticket.state %></td>
        <td><%= ticket.zipcode %>
        <td><%= ticket.telephone %></td>
        <td><%= ticket.contact_title %></td>
        <td><%= ticket.contact_fname %></td>
        <td><%= ticket.contact_lname %></td>
        <td><%= ticket.email %></td>
        <td><%= tooltipify(ticket.comment)%></td>

      </tr>
  <% end %>
  </tbody>
</table>
