<h1>Listing clients</h1>

<table class= "table" >
  <thead>
    <tr>
      <th>Business name</th>
      <th>Address</th>
      <th>Email</th>
      <th>Contact Title</th>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Telephone</th>
      <th>Comment</th>
      <th>Ticket Priority</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @client.each do |client| %>
      <tr><% ticket = Ticket.find_by client_id: client.id %>
          <td><%= link_to client.business_name, {:controller => "receipts", :action => "create", :client => client.id }, method: :post %>
        	<!--add some flash to say that the receipt had been added to the correct user-->          
          <td><%= client.address %></td>
          <td><%= client.email %></td>
          <td><%= client.contact_title %></td>
          <td><%= client.contact_fname %></td>
          <td><%= client.contact_lname %></td>
          <td><%= client.telephone %></td>
          <td><%= client.comment %></td>
          <td><%= ticket.priority_id %> <td>
          <td><%= link_to 'Show', client %></td>
          <td><%= link_to 'Edit', edit_client_path(client) %></td>
          <td><%= link_to 'Destroy', client, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Client', new_client_path %>
