<script>
	var last_update = "<%= Time.now.strftime("%Y-%m-%d %H:%M:%S") %>";
	// need to have server send new timestamp!!!
	
$(function() {
    console.log( "ready!" );
  
    //currently writing to ping server
    $(".addTicket").click(function(caller){		

//		console.log(caller.target.id);		
//		alert("Add Ticket in progress");
		
		$.getJSON("/clients.json?ajax=getClient&clientID=" + caller.target.id, 
	  			function(json) {
	  				console.log("Response received......");
	  			
	  				console.log(json);
	  			
		  			var len = json.length
		  			for (var i = 0; i < len; i++) { 
		  					//console.log('#' + String(json[i].user_id));
	
		  					console.log(json[i].client_id);
		
		  					if (json[i][0])
		  					  $('#' + json[i].client_id).show();//effect("highlight", "slow");//show()
		  					else
		  					  $('#' + json[i].client_id).hide();//effect("highlight", "slow");//hide()
		  					//setTimeout(console.log("..in the loop.."), 100000);	  						  					
	  					}
	  			
	  			
	  			
		})
		
	});


	setTimeout(updateClients, 1000);


	function updateClients() {
		  $.getJSON("/clients.json?ajax=update&timestamp=" + last_update, 
	  			function(json) {
	  				console.log("Response received......");
	  				
	  				/*
	  				for (property in json) 
	  					console.log(property);
	  				*/
	  					  					  				
	  				var len = json.length - 1; // compensating for system time appended to the end of JSON object 
	  				var i;
	  				for (i = 0; i < len; i++) { 
	  					//console.log('#' + String(json[i].user_id));

	  					console.log(json[i].client_id);
	
	  					if (json[i][0])
	  					  $('#' + json[i].client_id).show();//effect("highlight", "slow");//show()
	  					else
	  					  $('#' + json[i].client_id).hide();//effect("highlight", "slow");//hide()
	  					//setTimeout(console.log("..in the loop.."), 100000);	  						  					
  					}
  					console.log(last_update);
  					last_update = json[i];
  					//console.log(last_update);

      	   })
	  //setTimeout(updateClients, 2000);
	}


});


</script>



<br /><br /><br /><br /><br /><br /><br />


<h1>Listing clients</h1>

<table>
  <thead>
    <tr>
    	<th> </th>
      <th>Business name</th>
      <th>Address</th>
      <th>Email</th>
      <th>Contact name</th>
      <th>Telephone</th>
      <th>Comment</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
    
  </thead>

  <tbody>
<% @tickets.each do |ticket| %>    
      <tr class="<%=ticket.client.id %>">
      	<!-- creates a button for each client.-->
      	<!-- ### need  to create jquery function to run when button is clicked!!### -->
        <td> <%= button_tag "add", type: 'button',  :id => ticket.id, :class => "addTicket" %></td> 
        
          	
        <td><%= ticket.client.business_name %></td>
        <td><%= ticket.client.address %></td>
        <td><%= ticket.client.email %></td>
        <td><%= ticket.client.contact_title %></td>
        <td><%= ticket.client.contact_fname %></td>
        <td><%= ticket.client.contact_lname %></td>
        <td><%= ticket.client.telephone %></td>
        <td><%= ticket.client.comment %></td>
      </tr>
<% end %>
    


  </tbody>
</table>

	


<br>

<%= link_to 'New Client', new_client_path %>
