<% provide(:title, "Assign Clients") %>
<!--Heading-->
<h1 class = "col-md-3", id = "heading">Assign Clients</h1>
<script>

$(function{
	
	$(".assign").click(function{
		
		
	});
	
	
	
});
</script>

<%= form_tag('/users/need_help') do %>
	<% page = request.original_url %>
<%= submit_tag 'Help!'%>
<% end %>

<% if current_user.help == true %>
	<h1>Confused?</h1>

	<%= link_to "Manage Section!", users_need_help_path(:anchor => "manage_section") %>
	<%= link_to "Manage Clients!", users_need_help_path(:anchor => "manage_clients") %>

<% end %>
<!-- Buttons wont appear if they were not loaded when the page was first loaded because they were not created. -->


<h1>Listing clients</h1>

<table class="display">
  <thead>
    <tr>
      <th>Business name</th>
      <th>Address</th>
      <th>Email</th>
      <th>Contact title</th>
      <th>First name</th>
      <th>Last name</th>
      <th>Telephone</th>
      <th>Comment</th>
      <% if get_selected_project.is_active == true %>
        <th></th>
      <% end %>
      <th>details</th>
    </tr>    
  </thead>

  <tbody>
	<% @clients.each do |client| %>
	  <tr>    
      	<td><%= client.business_name %></td>
        <td><%= client.address %></td>
        <td><%= client.email %></td>
        <td><%= client.contact_title %></td>
        <td><%= client.contact_fname %></td>
        <td><%= client.contact_lname %></td>
        <td><%= client.telephone %></td>
        <td><%= client.comment %></td>
        <% if get_selected_project.is_active == true %>
	      <td>
	        <% if client.ticket_id %>	          
	          <%= (client.student_fname + " " +  client.student_lname + "<br />(" + client.student_id + ")").html_safe %>
	        <% else %>
	          <%= link_to 'assign', clients_assign_path(:id => client.id), {:id => client.id, :class => "btn btn-info btn-sm"} %>
	        <% end %>
          </td>
        <% end %>
        <td><%= link_to 'details', clients_assign_path(:cid => client.id, :tid => client.ticket_id), {:id => client.id, :class => "btn btn-info btn-sm"} %></td>
      </tr>
     <% end %>   
  </tbody>
</table>
<br/><br/><br/><br/>

<br/><br/><br/><br/><br/><br/>
