<% if !(@pending_clients.empty?)%>
  <% if (current_user.role == 3)%>
      <%= form_tag('/clients/approve_client') do %>
         <%= render :partial => "pending", :locals => { :pending_clients => @pending_clients} %>
         <%= submit_tag 'Approve' %>
         <%= submit_tag 'Disapprove'%>
      <% end %>
  <% else %>
     <%= render :partial => "pending", :locals => { :pending_clients => @pending_clients} %>
  <% end %>
<% else %>
  There are no current pending clients.
<% end %>

<!-- Buttons wont appear if they were not loaded when the page was first loaded because they were not created. -->

<h1>Listing clients</h1>

<table class="dataTable">
  <thead>
    <tr>
      <th>Business name</th>
      <th>Address</th>
      <th>Email</th>
      <th>Contact title</th>
      <th>First name</th>
      <th>Last name</th>
      <th>Telephone</th>
      <th>Comment</th>
    </tr>
    
  </thead>

  <tbody>
<% @clients.each do |client| %>    

      <tr class="<%= client.id %>"> 
      	<td><%= client.business_name %></td>
        <td><%= client.address %></td>
        <td><%= client.email %></td>
        <td><%= client.contact_title %></td>
        <td><%= client.contact_fname %></td>
        <td><%= client.contact_lname %></td>
        <td><%= client.telephone %></td>
        <td><%= client.comment %></td>
      </tr>
<% end %>
   
  </tbody>
</table>

<br/><br/><br/><br/>

<%= link_to 'New Client', new_client_path %>



<br/><br/><br/><br/><br/><br/>
