<% provide(:title, 'Client Information') %>

<p id="notice"><%= notice %></p>

  <ul class="list-group">
    <li class="list-group-item"> <strong>Business name:</strong>
  <%= @client.business_name %></li>
    <li class="list-group-item"> <strong>Address:</strong>
  <%= @client.address %></li>
    <li class="list-group-item"> <strong>City:</strong>
  <%= @client.city %></li>
    <li class="list-group-item"> <strong>State:</strong>
  <%= @client.state %></li>
    <li class="list-group-item"> <strong>Zipcode:</strong>
  <%= @client.zipcode%></li>
	  <li class="list-group-item"><strong>Contact name:</strong>
  <%= @client.contact_title + ' ' + @client.contact_fname + ' ' + @client.contact_lname %></li>
	    <li class="list-group-item"><strong>Telephone:</strong>
  <%= @client.telephone %></li>
		  <li class="list-group-item"> <strong>Comment:</strong>
  <%= @client.comment %></li>
	  <li class="list-group-item"> <strong>Owner:</strong>
  <%= @client.submitter %></li>
  </ul>



<% if (current_user.role == 3 || current_user.school_id == @client.submitter) %>
	<%= link_to 'Edit', edit_client_path(@client, where: 'not_from_student'), :class => 'btn btn-large btn-primary btn-sm' %>
<% end %>
<% if current_user.role == 3 %>
	<% if params[:from] == 'teacher' %>
		<%= link_to 'Back to Approve Clients', clients_approve_path, :class => 'btn btn-large btn-primary btn-sm' %>
	<% else %>
		<%= link_to 'Back to Assign Clients', clients_path, :class => 'btn btn-large btn-primary btn-sm' %>
	<% end %>
<% else %>
	<% if params[:from] == 'student' %>
		<%= link_to 'Back to Submit Client', clients_submit_path, :class => 'btn btn-large btn-primary btn-sm' %>
	<% else %>
		<%= link_to 'Back to Client', receipt_path(params[:receipt]), :class => 'btn btn-large btn-primary btn-sm' %>
	<% end %>
<% end %>
