<% provide(:title, 'Client Information') %>
<div class = "panel panel-primary">
  <div class = "panel-heading">
    <h3>&nbsp;<%= @client.business_name %></li></h3><br />
  </div>
<div class = "panel-body">

<p>
  <strong>Address:</strong>
  <%= @client.address %>
</p>
<p>
  <strong>City:</strong>
  <%= @client.city %>
</p> 
<p>
  <strong>State:</strong>
  <%= @client.state %>
</p> 
<p>
  <strong>Zipcode:</strong>
  <%= @client.zipcode %>
</p> 
<p>
  <strong>Contact Title:</strong>
  <%= @client.contact_title %>
</p>
<p>
  <strong>First Name:</strong>
  <%= @client.contact_fname %>
</p>
<p>
  <strong>Last name:</strong>
  <%= @client.contact_lname %>
</p>      
<p>
  <strong>E-mail:</strong>
  <%= @client.email%>
</p>
<p>
  <strong>Telephone:</strong>
  <%= render_phone(@client.telephone) %>
</p>
<p>
  <strong>Comment:</strong>
  <%= @client.comment%>
</p>
<% if (@client.status.status_type== 'Pending') || (@client.status.status_type == 'Edited')%>
  <p>
  <strong>Submitter:</strong>
  <%= get_submitter_info(@client.submitter) %>
  </p>
<% end %>
    
</div>  
</div>
<% if false %>
<% if (current_user.role == 3 || current_user.school_id == @client.submitter) %>
	<%= link_to 'Edit', edit_client_path(@client, where: 'not_from_student'), :class => 'btn btn-large btn-primary btn-sm' %>
<% end %>
<% if current_user.role == 3 %>
	<% if params[:from] == 'teacher' %>
		<%= link_to 'Back to Approve Clients', clients_approve_path, :class => 'btn btn-large btn-primary btn-sm' %>
	<% else %>
		<%= link_to 'Back to Assign Clients', clients_path, :class => 'btn btn-large btn-primary btn-sm' %>
	<% end %>
<% else %>
	<% if params[:from] == 'student' %>
		<%= link_to 'Back to Submit Client', clients_submit_path, :class => 'btn btn-large btn-primary btn-sm' %>
	<% else %>
		<%= link_to 'Back to Client', receipt_path(params[:receipt]), :class => 'btn btn-large btn-primary btn-sm' %>
	<% end %>
	<% if (current_user.role == 3 || current_user.school_id == @client.submitter) %>
	<%= link_to 'Edit', edit_client_path(@client, where: 'not_from_student') %>
<% end %>
<% end %>

<% end %>

<%= link_to 'Back', session[:return_to] %>
<% if (current_user.role == 3 || current_user.id == @client.submitter) %>
	| <%= link_to 'Edit', edit_client_path(@client, page: request.url) %>
<% end %>

<% if @sales_info.present? %>	
	<%= render :partial => 'sales_info', :locals => {:sales_info => @sales_info} %>
<% end %>


<% if @sales_info.present? %>
<h3> Sales History </h3>
<% end %>	
<div>
  <% if @sales_years[0].present? %>
     <p class="addMargin">
        <% if @sales_info.present? %>
        Additional&nbsp;
        <% end %>
        Years This Customer bought from the Arrow: <%= @sales_years[0].to_s[1..-2]%>
     </p>
  <% end %>
  <% if @sales_years[1].present? %>
    <p class="addMargin">
    	<% if @sales_info.present? %>
    	Additional&nbsp;
    	<% end %> 
    	Years This Customer bought from the Calendar: <%= @sales_years[1].to_s[1..-2]%>
    </p>
  <% end %>
<div>
