<p id="notice"><%= notice %></p>

<p>
  <strong>Business name:</strong>
  <%= @client.business_name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @client.address %>
</p>

<p>
  <strong>City:</strong>
  <%= @client.city %>
</p>

<p>
  <strong>State:</strong>
  <%= @client.state %>
</p>

<p>
  <strong>Zipcode:</strong>
  <%= @client.zipcode%>
</p>

<p>
  <strong>Contact name:</strong>
  <%= @client.contact_title + " " + @client.contact_fname + " " + @client.contact_lname %>
</p>

<p>
  <strong>Telephone:</strong>
  <%= @client.telephone %>
</p>

<p>
  <strong>Comment:</strong>
  <%= @client.comment %>
</p>

<p>
  <strong>Owner:</strong>
  <%= @client.submitter %>
</p>

<% if current_user.role == 3%>
<%= link_to 'Edit', edit_client_path(@client) %>
<% end %>
<%= link_to 'Back', clients_path %>
