<% provide(:title, 'Choose Clients') %>

<% if @tickets %>
<script>
var last_update = "<%= Time.now.utc.strftime('%Y-%m-%d %H:%M:%S') %>";
	
$(function() {
	    
  $(".addTicket").click(function(caller) {
  //console.log(caller.target.id);
    $.getJSON("/tickets.json?ajax=getClient&clientID=" + caller.target.id, function(json) {
      // TODO: Change URL above ^^^ to use Rails helper
      if (json.Success != null) {
        $('#' + caller.target.id).hide();
        console.log("You got the client!");
        selector =  $('#' + json.ticketPriority + "PriorityCount");
        selector.html(selector.html() - 1);
        $("#userMessage").hide().html(json.Success).fadeIn(1000);
      }
      else
        $("#userMessage").hide().html(json.userMessage).fadeIn(1000);
    });
  });

	function updateClients() {
    $.getJSON("/tickets.json?ajax=update&timestamp=" + last_update, function(json) {
      // TODO: Change URL above ^^^ to use Rails helper
  	  var i, len = json.length - 1; // compensating for system time appended to the end of JSON object
		  for (i = 0; i < len; i++) { 
			//console.log(json[i]);
        if (json[i].user_id == 0)
			    $('#' + json[i].client_id).show();
			  else
			    $('#' + json[i].client_id).hide();
  		}
		  last_update = json[i];
    });
    //console.log("Last updated at: " + last_update);
    setTimeout(updateClients, 2000);
	}
	
	$(".autoHide").hide();	
	$(".defaultTooltip").tooltip();
	//setTimeout(updateClients, 1000);
});
</script>

<div class="scroller_anchor"></div>  

<div class="scroller alert alert-info" id = "alerts">
<% if @clientsLeft && @clientsLeft > 0 %>
  <p>You can get <%= @clientsLeft %> more clients</p>
<% else %>
	<p id="highPriority">You can get <%= @highPriority < 0 ? 0 : @highPriority%> more high priority clients</p>
	<p id="midPriority">You can get <%= @midPriority < 0 ? 0 : @midPriority%> more medium priority clients</p>
	<p id="lowPriority">You can get <%= @lowPriority < 0 ? 0 : @lowPriority%> more clients low priority clients</p>
<% end %>
  <p id="userMessage">
  <% if open = (@currentProject.tickets_close_time > Time.now) %>
    You will be able to select clients until <%= @currentProject.tickets_close_time.to_formatted_s(:long_ordinal) %>.
  <% else %>
    You are no longer able to select clients.
  <% end %>
  </p>
</div>


<% if current_user.help == true %>
<h2>First Time User?</h2>
<%= button_to 'Yes', :controller => :users, action: 'need_help'%>
<% end %>

<table class="display">
  <thead>
    <tr> 
      <% if open %>
      <th></th>
      <% end %>
      <th>Priority</th>
      <th>Business Name</th>
      <th>Address</th>
      <th>Person to Contact</th>
      <th>Telephone</th>
      <th>Comment</th> 
    </tr>
  </thead>
  <tbody>

    <% @tickets.each do |ticket| %>
      <tr>
      	<% client = Client.find(ticket.client_id); ticketClass = 'addTicket'
           ; ticketClass << ((ticket.user_id == 0 || ticket.user_id.nil?) ? '' : ' autoHide'); %>
      	<% if open %>	
        <% priorityColor =  Priority.find(ticket.priority_id).name %> 
 	  	  <td><%= button_tag 'add', type: 'button', :id => ticket.id, :class => '' << ticketClass << priorityColor %>
       	  </td>
  
      	<% end %>
      	<td><%= Priority.find(ticket.priority_id).name.capitalize %></td>
      	<td><%= link_to client.business_name, ticket, :class => 'btn btn-link btn-sm' %></td>
      	<td><%= client.address %></td>
      	<td><%= client.contact_title + ' ' + client.contact_fname + ' ' +  client.contact_lname%></td>
      	<td align="right"><%= client.telephone %></td>
      	<td ><%= tooltipify(client.comment).html_safe%></td>      	
       <!-- <td><%#= link_to 'Details', ticket , :class => "btn btn-info btn-sm" %></td> -->
      </tr>
    <% end %>

  </tbody>
</table>

<% else %>
	<p class="message">You are currently not part of any projects.<br />If you are not here by accident, ask your instructor to add you to the project</p>
<% end%>