<% provide(:title, 'Choose Clients') %>

<%= debug @mediumPriority%>

<% if @tickets %>
    <div class="scroller_anchor"></div>
    <div class="scroller" id ="alerts">
      <% if @clientsLeft %>
        <%= "<p id='totalMessage'> You can get a total of <span id='clientsRemaining' class='badge'>#{zeroMin(@clientsLeft)}</span> more clients</p>".html_safe %>
      <% end %>
      <p id="highPriority"> High priority allowed: <span id='highPriorityCount' class="badge"><%= zeroMin(@highPriority)%></span></p>
      <p id="midPriority">  Medium priority allowed: <span id='mediumPriorityCount' class="badge"><%= zeroMin(@midPriority)%></span></p>
      <p id="lowPriority">  Low priority allowed:  <span id='lowPriorityCount' class="badge"><%= zeroMin(@lowPriority)%></span></p>


      <% if open = (@currentProject.tickets_close_time > Time.now) %>
          <p id="ticket_info">You will be able to select clients until <%= @currentProject.tickets_close_time.to_formatted_s(:long_ordinal) %>.</p>
      <% else %>
          <p id="ticket_info">You are no longer able to select clients.</p>
      <% end %>
      <p id="userMessage"></p>
    </div>

    <table class="display">
      <thead>
      <tr>
        <% if open %>
            <th class="empty"></th>
        <% end %>
        <th>Priority</th>
        <th>Business Name</th>
        <th>Address</th>
        <th>Person to Contact</th>
        <th>Telephone</th>
        <th>Comment</th>
      </tr>
      </thead>
      <tbody>
      <% @tickets.each do |ticket| %>
          <tr>
            <% client = Client.find(ticket.client_id); ticketClass = "addTicket "; ticketClass << ((ticket.user_id == 0 || ticket.user_id.nil?) ? "" : "autoHide "); %>
            <% if open %>
                <% priorityColor = Priority.find(ticket.priority_id).name %>
                <td><%= button_tag 'add', type: 'button', :id => ticket.id, :class => '' << ticketClass << priorityColor %>
                </td>

            <% end %>
            <td><%= ticket.priority.name.capitalize %></td>
            <td><%= link_to client.business_name, ticket, :class => 'btn btn-link btn-sm' %></td>
            <td><%= client.address %></td>
            <td><%= client.contact_title + ' ' + client.contact_fname + ' ' +  client.contact_lname%></td>
            <td align="right"><%= client.telephone %></td>
            <td ><%= tooltipify(client.comment)%></td>
            <!-- <td><%#= link_to 'Details', ticket , :class => "btn btn-info btn-sm" %></td> -->
          </tr>
      <% end %>

      </tbody>
    </table>
<% end%>