<h1>Listing Tickets</h1>

<table class = "table">
  <thead>
    <tr>
      <th>Business Name</th>
      <th>Address</th>
      <th>Email</th>
      <th>Contact Name</th>
      <th>Telephone</th>
      <th>Comment</th>	
    </tr>
  </thead>

  <tbody>
    <% @tickets.each do |ticket| %>
      <tr><% client = Client.find_by id: ticket.client_id %>
      	<td><%= client.business_name %></td>
      	<td><%= client.address %></td>
      	<td><%= client.email %></td>
      	<td><%= client.contact_title %></td>
      	<td><%= client.contact_fname %></td>
      	<td><%= client.contact_lname %></td>
      	<td><%= client.telephone %></td>
      	<td><%= client.comment %></td>
      	
        <td><%= link_to 'Show', ticket %></td>
        <td><%= link_to 'Edit', edit_ticket_path(ticket) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

  <%= link_to 'Create Tickets', new_ticket_path %>

