<% studentSelectable = !Project.is_specific(@currentProject.id)%>          

<% provide(:excel, (image_tag ('help.png'), :style => "cursor:pointer", :title => 'Help! What am I supposed to do?', :class => 'priority_help').html_safe) %>
<% if studentSelectable %>
  <% provide(:title, 'Choose New Clients') %>
<% else %>
  <% provide(:title, 'Client List')%>
<% end %>

<!-- Help display explaining how the priorities work -->
<div id="help_area" class="form_background hidden">
  <h3>Help for Choosing Clients</h3>
  <ul>
  	<br />
  	<li>If the title of this page is "Client List", your teacher will do the work of picking your clients.</li>
  	<li>However, if the title is "Choose New Clients", you will have to come here to choose your own clients.</li>
  	<br />
  	<li>If the Owner column has blue "Choose" buttons, the client list is not yet open. You can see when the list
  		will be open by looking at the message bar above the client list.</li>
    <li>If the Owner column has red "Choose" buttons, you can choose new clients until the list closes.</li>
    <li>If a row in the Owner column has a name and ID in it, someone in the class has already chosen the client.</li>
  </ul>
  <h3>What do the Total, High, Medium, and Low numbers mean?</h3>
  <ul>
  	<br />
  	<li>Total clients available: This is the maximum number of clients you can have, including the clients you have
  		submitted for approval.</li>
  	<li>High, Medium, and Low priority allowed: Look at the priority column. These numbers tell you the maximum number
  		of clients that you can have from each priority.</li>
  	<li>IMPORTANT! The priority restrictions are a subset of the total clients available number. If total, medium, and
  		low all say 4 allowed, you are permitted 4 clients. It could be 4 medium or 4 low or a combination, but altogether
  		you are only allowed to have 4 clients. However, if total says 4 and high says 1, you can only get one 1 high and
  		must choose other priorities for the other 3.</li>
  </ul>
	

<p>For more information, read the "Choose Clients" section of the <%= link_to "Help", users_need_help_path %> page. </p>	
<p id="hide_help" class="fake-link">Hide</p>
</div>


<% if @tickets %>
    <% open = ((@currentProject.tickets_close_time > Time.now.utc) && (@currentProject.tickets_open_time < Time.now.utc)) %>
    <% if studentSelectable %>
      <div class="scroller_anchor"></div>
      <div class="scroller" id ="alerts">
        <p id='totalMessage'> Total clients available: <span id='clientsRemaining' class='badge'></span></p>
        <p id="highPriority"> High priority allowed: <span id='highPriorityCount' class="badge"></span></p>
        <p id="midPriority">  Medium priority allowed: <span id='mediumPriorityCount' class="badge"></span></p>
        <p id="lowPriority">  Low priority allowed:  <span id='lowPriorityCount' class="badge"></span></p>
  
        <% if open %>
            <p id="ticket_info">You will be able to get new clients until <%= @currentProject.tickets_close_time.strftime("%B %e, %l:%M %p")  %>.</p>
        <% elsif (@currentProject.tickets_close_time > Time.now.utc) %>
            <p id="ticket_info">You will be able to select clients on <%= @currentProject.tickets_open_time.strftime("%B %e at %l:%M %p") %>.</p>
        <% else %>
            <p id="ticket_info">You are no longer able to get new clients.</p>
        <% end %>
        <p id="userMessage"></p>
      </div>    
    <% else %>
      <p class='alert alert-info'>Your teacher will assign your clients to you.</p>
    <% end %>

    <table class="display ticket_table">
      <thead>
      <tr>
        <% if open %>
            <th>Owner</th>
        <% else %>
        <th></th>
        <% end %>
        <th>Priority</th>
        <th>Business Name</th>
        <th>Address</th>
        <th>Person to Contact</th>
        <th>Comment</th>
      </tr>
      </thead>
      <tbody>
      <% @tickets.each do |ticket| %>
          <tr class="<%= ticket.priority.name %>">
            <% client = Client.find(ticket.client_id); ticketClass = " addTicket " %>            

            <% if open %>                

              <td class="choosecolumn">
                <% if studentSelectable %>
                  
                  <% # This block determines if the ticket already has a holder. Tickets with holders hide the add button (ticket is hidden via jquery) by adding the autoHide class.
                     # When the button is hidden, we need to know who is holding the ticket, so that information is added to the span. This live activation/deactivation is done when
                     # the page requests updates from the server and is performed in app/assets/javascripts/controller/tickets.js under the updateClients() function.
                    if ticket.user_id == 0 || ticket.user_id.nil?
                      ticketClass << ""
                      holder       = ""
                    else
                      ticketClass << 'autoHide '
                          holder   = "#{ticket.user.first_name} #{ticket.user.last_name}<br />(#{ticket.user.school_id})".html_safe
                    end 
                  %>                
                  <%= button_tag 'Choose', type: 'button', :id => ticket.id, :class => 'btn btn-primary btn-sm' << ticketClass %>
                <% else %>
                  <%= button_tag 'Choose', type: 'button', :class => 'btn btn-primary btn-sm', :disabled => true %>
                <% end %>
                <%= content_tag(:span, holder, :id =>ticket.id.to_s + '_span', :title => !holder || holder.sub("<br />", "" )) %>                	
              </td>
            <% else %>
              <td><%= button_tag 'Choose', type: 'button', :class => 'btn btn-primary btn-sm', :disabled => true %></td>
            <% end %>
            <td class="priority column"><span><%= ticket.priority.name.capitalize %></span></td>
            <td class="column" title="View Client Details"><%= link_to tooltipify(client.business_name, 35), client_path(id: ticket.client.id, page: request.url)%></td>
            <td class="column"><%= tooltipify(client.address, 35) %></td>
            <td class="column"><%= tooltipify(client.contact_title + ' ' + client.contact_fname + ' ' +  client.contact_lname, 20)%></td>
            <td class="column"><%= tooltipify(client.comment)%></td>
          </tr>
      <% end %>

      </tbody>
    </table>
<% end%>