<h1>Listing Tickets</h1>

<table>
  <thead>
    <tr>
      <th>Current User</th>
      <th>Business Name</th>
      <th>Address</th>
      <th>Email</th>
      <th>Contact Name</th>
      <th>Telephone</th>
      <th>Comment</th>	
    </tr>
  </thead>

  <tbody>
    <% @tickets.each do |ticket| %>
      <tr>
      	<td><%= ticket.user_id %></td>
      	<td><%= ticket.page_size %></td>
      	<td><%= ticket.payment_type %></td>
      	<td><%= ticket.attachment %></td>
      	<td><%= ticket.attachment_name %></td>
      	
        <td><%= link_to 'Show', ticket %></td>
        <td><%= link_to 'Edit', edit_ticket_path(ticket) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

  <%= link_to 'Create Tickets', new_ticket_path %>

