<h1>Here is the information we have on <%= @clientInfo.business_name%>:</h1>

<h3>
Address: <br /> 
<%= @clientInfo.address %>
</h3>
<h5>
<%= @clientInfo.city%><% if @clientInfo.state%>, <%end%><%= @clientInfo.state%> <%= @clientInfo.zipcode%>
</h5>
<br /><br />

<br /><br />
<% if @clientInfo.telephone %>
<h4>Phone: <%= render_phone(@clientInfo.telephone) %></h4>
<% end %>

<h4>Person to contact: <%=@clientInfo.contact_title %> <%= @clientInfo.contact_fname %> <%= @clientInfo.contact_lname%></h4>
<br /><br /><br /><br />
<div>
	<%= link_to 'Back to Choose Clients', tickets_path, :class => 'btn btn-large btn-primary btn-sm' %>
	<h3>
		Here is our past interaction with this client:
	</h3>
	<h2>yadayadayadayadayadayadayadayada</h2>
</div>




