<%= form_for(@project) do |f| %>
    <% if @project.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@project.errors.count, 'error') %> prohibited this project from being saved:</h2>
          <ul>
            <% @project.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <% if @project.is_active == false %>
        <div id = "cannot_edit">
          <p>You cannot edit archived projects. This is simply to show you what settings existed during this project.</p>
        </div>
        <% !get_current_project %>
        <%= label_tag(:is_active, 'Would you like to re-activate this project?') %><br>
        yes: <%= f.radio_button :is_active, '1' %>
        no:  <%= f.radio_button :is_active, '0', :checked => true %>
    <div class="actions">
      <%= f.submit class: 'btn btn-primary btn-sm'%>
    </div>
<% end %>


     <div id = "project_options">
      <%= f.label :Year %>
       <!-- Replace this after the EXPO-->
      <%#= f.select :year, [current_year, next_year], { :include_blank => false}, { :class => 'btn btn-small dropdown-toggle ', :disabled =>  !@project.is_active }%>

       <%= f.select :year, (2014..2100).to_a, { :include_blank => false}, { :class => 'btn btn-small dropdown-toggle ', :disabled =>  !@project.is_active }%>
      &nbsp; &nbsp;
      <%= f.label :semester %>
      <%= f.select :semester, %w(Spring Fall), { :include_blank=>false }, { :class => 'btn btn-small dropdown-toggle ', :disabled =>  !@project.is_active}%>

      &nbsp; &nbsp;
      <%= f.label :project_type_id %>
      <%= f.collection_select :project_type_id, ProjectType.all, :id, :name,
                              { :include_blank=>false }, { :class => 'btn btn-small', :disabled =>  !@project.is_active}  %>
    </div>

    <div id = "project_options">
      <div class = "panel panel-primary">
        <div class = "panel-heading">
          <h3>&nbsp;How many clients can the students choose?</h3><br>
        </div>
        <div class = "panel-body">
          <%#= radio_button(:project, :use_max_clients, :false) %>
          <%#= label_tag(:max_color_clients, 'Total Clients in different Priorities:') %><br>
          <div id = "priority_dropdown">
            <%= f.label :high_priority%>
            <%= f.select(:max_high_priority_clients, [['N/A', -1], 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10], { :include_blank=>false }, { :class => 'btn btn-small dropdown-toggle', :disabled =>  !@project.is_active})%>
            &nbsp; &nbsp;
            <%= f.label :medium_priority %>
            <%= f.select :max_medium_priority_clients, [['N/A', -1], 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10], { :include_blank=>false }, { :class => 'btn btn-small dropdown-toggle', :disabled =>  !@project.is_active}%>
            &nbsp; &nbsp;
            <%= f.label :low_priority %>
            <%= f.select :max_low_priority_clients, [['N/A', -1], 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10], { :include_blank=>false }, { :class => 'btn btn-small dropdown-toggle', :disabled =>  !@project.is_active}%>

            <%#= radio_button(:project, :use_max_clients, :true) %>
            <%#= label_tag(:max_color_clients, 'Total Clients in total form') %><br>
            <%= f.label :max_clients %>
            <%= f.select :max_clients, [['N/A', -1], 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10], { :include_blank=>false }, { :class => 'btn btn-small dropdown-toggle ', :disabled =>  !@project.is_active}%>
            <br /><br />
          </div>
        </div>
        <div id = "project_options">
		      <div class = "panel panel-primary">
		        <div class = "panel-heading">
		          <h3>&nbsp;When can the students add clients?</h3><br>
		        </div>
          <%= f.label :tickets_open_time, 'Start Time', class: 'required' %>
          <%= f.text_field :tickets_open_time, :placeholder => 'YYYY/MM/DD 00:00 AM/PM', :disabled => !@project.is_active %>

          <%= f.label :tickets_close_time, 'End Time', class: 'required' %>
          <%= f.text_field :tickets_close_time, :placeholder => 'YYYY/MM/DD 00:00 AM/PM', :disabled => !@project.is_active %>
        </div>
      </div>
     </div>
    <% if @project.is_active %>
        <%= label_tag(:is_active, 'Would you like to move this project to the archives?') %><br>
        Yes: <%= f.radio_button :is_active, '0' %>
        No:  <%= f.radio_button :is_active, '1', :checked => true %>
        <div class="actions">
          <%= f.submit class: 'btn btn-primary btn-sm'%>
        </div>
    <% end %>
</div>
<% end %>
