<%= form_for(@project) do |f| %>
  <% if @project.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@project.errors.count, "error") %> prohibited this project from being saved:</h2>

      <ul>
      <% @project.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
    <div class="field">
      <%= f.label :Year %><br>
      <%= f.text_field :year %>
    </div>
    <div class="field">
      <%= f.label :semester %><br>
      <%= f.text_field :semester %>
    </div>
    <div class="field">
      <%= f.label :project_type %><br>
      <%= f.text_field :project_type %>
    </div>
    <div class="field">
      <%= f.label :project_start %><br>
      <%= f.text_field :project_start %>
    </div>
    <div class="field">
      <%= f.label :project_end %><br>
      <%= f.text_field :project_end %>
    </div>
    <div class="field">
      <%= f.label :comment %><br>
      <%= f.text_field :comment %>
    </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
