<%= form_for(@project) do |f| %>
  <% if @project.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@project.errors.count, "error") %> prohibited this project from being saved:</h2>

      <ul>
      <% @project.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
    <div class="field">
      <%= f.label :Year %><br>
      <%= f.label 'in XXXX format' %><br>
      <%= f.text_field :year %>
    </div>
    <div class="field">
      <%= f.label :semester %><br>
      <%= f.select :semester, options_for_select(%w[Fall Spring]) %>
    </div>
    <div class="field">
      <%= f.label :project_type_id %><br>
      <%= f.collection_select :project_type_id, ProjectType.all, :id, :name  %>
    </div>
    <div class="field">
      <%= f.label :tickets_open_time %><br>
      <%= f.text_field :tickets_open_time, :placeholder => "YYYY/MM/DD 00:00 AM/PM" %>
    </div>
    <div class="field">
      <%= f.label :tickets_close_time %><br>
      <%= f.text_field :tickets_close_time, :placeholder => "YYYY/MM/DD 00:00 AM/PM" %>
    </div>
    <div class="field">
      <%= f.label :comment %><br>
      <%= f.text_field :comment %>
    </div>

    <div class="field">
      <%= radio_button(:project, :use_max_clients, 1, :checked => true) %>
      <%= label_tag(:max_color_clients, "Total Clients in total form") %><br>
      <%= f.label :max_clients %>
      <%= f.text_field :max_clients %><br><br>
	</div>
	<div class="field">
      <%= radio_button(:project, :use_max_clients, 0) %>
      <%= label_tag(:max_color_clients, "Total Clients in separated form") %><br>
      <%= f.label :high_priority %>
      <%= f.text_field :max_high_priority_clients %><br>
      <%= f.label :medium_priority %>
      <%= f.text_field :max_medium_priority_clients %><br>
      <%= f.label :low_priority %>
      <%= f.text_field :max_low_priority_clients %><br>
    </div>

	<% if params[:id]%>	
	  <div class="field">		
	  		
		<% if @project.is_active %>
			<%= label_tag(:is_active, "Would you like to move this project to the archives?") %><br>
			yes: <%= f.radio_button :is_active, "0" %>
			no:  <%= f.radio_button :is_active, "1", :checked => true %>		
		<% else %>
			<%= label_tag(:is_active, "Would you like to re-activate this project?") %><br>
			yes: <%= f.radio_button :is_active, "1" %>
			no:  <%= f.radio_button :is_active, "0", :checked => true %>		
		<% end %>
	  </div>
	<% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
  
<script>
	$('#project_tickets_open_time').datetimepicker({ dateFormat: "yy/mm/dd", timeFormat: "hh:mm TT" });
	$('#project_tickets_close_time').datetimepicker({ dateFormat: "yy/mm/dd", timeFormat: "hh:mm TT" });
</script>    
<% end %>

<!-- This adds client-side validation -->
<script>
	$(document).ready(function () {

	
		$("#new_project").validate({
			rules: {
				"project[year]": {required: true, rangelength: [4,4]},
				"project[tickets_open_time]": {required: true, date: true},
				"project[tickets_close_time]": {required: true, date: true, greater_than: "project[tickets_open_time]"},
			},
			messages: {
			}
		});
	});
</script>

<!-- This hides the radio button options -->
<script>
$(document).ready(function(){
$(".hidden").hide();
});

$(document).ready(function(){
  $("#presentation").click(function(){
  	$("#checkers2").removeClass("hidden");
    $("#checkers2").toggle();
  });
});

$(document).ready(function(){
  $("#sale").click(function(){
  	$("#saleMade").removeClass("hidden");
    $("#saleMade").toggle();
  });
});
</script>
