<%= form_for(@project, :html => {:id => 'projects'}) do |f| %>
<% if @project.errors.any? %>
<div id="error_explanation">
	<h2><%= pluralize(@project.errors.count, 'error') %> prohibited this project from being saved:</h2>
	<ul>
		<% @project.errors.full_messages.each do |msg| %>
		<li>
			<%= msg %>
		</li>
		<% end %>
	</ul>
</div>
<% end %>
<div class="form_background">
<div id = "project_options">
<p class="alert alert-info" id="topheader">General Information</p>
<table>
	<body>
		<tr>
			<td class="label-field"><%= f.label :Year, "Year:" %></td>
			<td class="text-field"><%= f.select :year, [current_year, next_year], { :include_blank => false}, 			
			           { :class => 'btn btn-default dropdown-toggle gen_info' }%></td>
		</tr>
		<tr>
			<td class="label-field"><%= f.label :semester, "Semester:" %></td>
			<td class="text-field"><%= f.select :semester, %w(Spring Fall), { :include_blank => false },  
			           { :class => 'btn btn-default dropdown-toggle gen_info' }%></td>
		</tr>			           
		<tr>
			<td class="label-field"><%= f.label :project_type_id, "Project Type:" %></td>
			<td class="text-field"><%= f.collection_select :project_type_id, ProjectType.all, :id, :name,
    					{ :include_blank => false }, { :class => 'btn btn-default dropdown-toggle gen_info' } %></td>
   		</tr>
   </body>
</table>
</div>

<div id = "project_options">

			<p class="alert alert-info header">Client Restrictions <span><%= image_tag("help.png", :id => "help")%></span></p>
			<div id="priority_help" class="form_background">
				<p>General Information:<br />
               <li>If you select 0 for High, Medium, and Low, students will not be able to select any clients.</li>	
               <li>In order for students to submit new clients, they will need to have an open slot in their personal client totals.</li>
As a teacher, the only restriction you ever have to assigning is that you do not assign a student more clients than the total. The High, Medium, and  Low restrictions do not apply to you.


<br /><br />Scenario 1: Students cannot choose clients from the client list. Instead, the teacher assigns clients to the students.
	The setup for this scenario is fairly simple. Just set High, Medium, and Low to 0. This prevents the students from choosing anything. Then, set the total to whatever you wish. Students will still be able to submit new clients if they have under the Total restriction so remember to set that high enough. 
Recommended Settings:
Total: The number of clients you want to assign to each student plus 2.
High, Medium, Low: 0

<br /><br />	
Scenario 2: Students pick their own clients, but the teacher can still assign clients to 
	students if he wants to.
Recommended Settings:
To start the project: 
Total: 3
High, Medium, Low: 1
Once the students have done their initial choosing of clients:
Total: 5
High: 2
Medium, Low: NA
	Students will be able to choose a maximum of the Total restriction of all the priorities combined, and they will be limited to whatever maximum you set on the individual high, medium, and low priorities. You will only be limited by the Total restriction when you are assigning clients. Normally, you will not really want to restrict the low priority client because new clients that students submit enter the program as low priority. 
	Remember to remind students not to choose so many clients that they cannot submit new ones. If they do end up choosing the maximum number of clients and the wish to submit a new one, they will need to release one of their currently held clients on the My Clients page.</p>

			</div>
			<div id = "priority_dropdown">
				<table>
					<body>
						<tr>
				<td class="label-field"><%= f.label :max_clients, "Total:" %></td>
				<td class="text-field"><%= f.select(:max_clients, [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10], 
				                { :include_blank => false }, { :class => 'btn btn-default dropdown-toggle client_priorities' })%></td>
				</tr>
				<tr>
				<td class="label-field"><%= f.label :high_priority, "High:"%></td>
				<!-- Do not change the following array without fixing the change event handlers in project.js -->
				<td class="text-field"><%= f.select(:max_high_priority_clients, [['N/A', -1], 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10], 
				                { :include_blank => false }, { :class => 'btn btn-default dropdown-toggle client_priorities' })%></td>
				</tr>
				<tr>
				<td class="label-field"><%= f.label :medium_priority, "Medium:"%></td>
				<!-- Do not change the following array without fixing the change event handlers in project.js -->
				<td class="text-field"><%= f.select :max_medium_priority_clients, [['N/A', -1], 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10], 
				                { :include_blank => false }, { :class => 'btn btn-default dropdown-toggle client_priorities' }%></td>
				</tr>
				<tr>
				<td class="label-field"><%= f.label :low_priority, "Low:" %></td>
				<!-- Do not change the following array without fixing the change event handlers in project.js -->
				<td class="text-field"><%= f.select :max_low_priority_clients, [['N/A', -1], 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10], 
				                { :include_blank => false }, { :class => 'btn btn-default dropdown-toggle client_priorities' }%></td>
				                </tr>
				</body>
				</table>
	</div>
</div>
	<div id = "project_options">
       <p class="alert alert-info header">Time Period When Students Can Choose Clients</p>
       <table>
       	<body>
       		<tr>
				<td class="label-field"><%= f.label :tickets_open_time, 'Start Time:' %></td>
				<td class="text-field">
					<% if get_current_project %>
						<%= f.text_field :tickets_open_time, :placeholder => 'YYYY/MM/DD 00:00 AM/PM', :class => 'form-control', :value => @project.tickets_open_time.strftime("%Y/%m/%d %I:%M %p") %>
					<% else %>
						<%= f.text_field :tickets_open_time, :placeholder => 'YYYY/MM/DD 00:00 AM/PM', :class => 'form-control' %>
					<% end %>
				</td>
			</tr>
			<tr>	
				<td class="label-field"><%= f.label :tickets_close_time, 'End Time:' %></td>
				<td class="text-field">
					<% if get_current_project %>
						<%= f.text_field :tickets_close_time, :placeholder => 'YYYY/MM/DD 00:00 AM/PM', :class => 'form-control', :value => @project.tickets_close_time.strftime("%Y/%m/%d %I:%M %p") %>
					<% else %>
						<%= f.text_field :tickets_close_time, :placeholder => 'YYYY/MM/DD 00:00 AM/PM', :class => 'form-control' %>
					<% end %>
				</td>
            </tr>
			</body>
			</table>
		</div>

    <% if @project.is_active && (@project.new_record? == false)%>
      <% message = 'update'%>
		  	<p class='alert alert-info header'>Closing the Project</p>
	    <div id="archived">
		    <%= label_tag(:is_active, 'Would you like to move this project to the archives?') %><br />
			  Yes: <%= f.radio_button :is_active, '0' %>
			  No:  <%= f.radio_button :is_active, '1', :checked => true %>
		  </div>
		     
		  <div id="finalComments" class="hidden">
		   	 <br /><p>Once you archive the project, you will no longer be able to edit its contents.</p>
		   	 <p>Would you like to export all the tables from this project to excel?
		   	 <span id="export_project"><%= link_to (image_tag 'excel.png'), projects_convert_to_excel_path(format: 'xls'), :title => "Export Entire Project to Excel" %></span>
		   	 </p>
		   	 <div id="exporting">
		   	 	<br />
	  			<p><strong>Please wait while we export your project to excel. This could take a couple minutes.</strong></p>
  			</div>
		     <p><%= f.label       :comment, 'Would you like to save any comments about this project?'%></p>
		     <span><%= f.text_area   :comment, :class => 'form-control' %></span>
		  </div>
		<% else %>
		  <% message = 'create'%>
		<% end %>
		<div class="actions">
			<%= f.submit class: 'btn btn-primary btn-sm', id: "submitButton"%>
		</div>
	
	<div id="loading">
	  <br />
	  <p><strong>Please wait while we <%= message %> the project. This could take a couple minutes.</strong></p>
	  <%= image_tag 'loading.GIF'%><br />
  </div>
  </div>	
	<% end %>
