<%= form_for(@project, :html => {:id => 'projects'}) do |f| %>
<% if @project.errors.any? %>
<div id="error_explanation">
	<h2><%= pluralize(@project.errors.count, 'error') %> prohibited this project from being saved:</h2>
	<ul>
		<% @project.errors.full_messages.each do |msg| %>
		<li>
			<%= msg %>
		</li>
		<% end %>
	</ul>
</div>
<% end %>
<div class="form_background">
<div id = "project_options">
<p class="alert alert-info" id="topheader">General Information</p>
<table>
	<body>
		<tr>
			<td class="label-field"><%= f.label :Year, "Year:" %></td>
			<td class="text-field"><%= f.select :year, [current_year, next_year], { :include_blank => false}, 			
			           { :class => 'btn btn-default dropdown-toggle gen_info' }%></td>
		</tr>
		<tr>
			<td class="label-field"><%= f.label :semester, "Semester:" %></td>
			<td class="text-field"><%= f.select :semester, %w(Spring Fall), { :include_blank => false },  
			           { :class => 'btn btn-default dropdown-toggle gen_info' }%></td>
		</tr>			           
		<tr>
			<td class="label-field"><%= f.label :project_type_id, "Project Type:" %></td>
			<td class="text-field"><%= f.collection_select :project_type_id, ProjectType.all, :id, :name,
    					{ :include_blank => false }, { :class => 'btn btn-default dropdown-toggle gen_info' } %></td>
   		</tr>
   </body>
</table>
</div>
	<div id = "project_options">
	   <p id="helpButton" class="alert alert-info header">Client Restrictions <span id="help"><%= image_tag 'help.png'%></span></p>
	   <div id="priority_help" class="form_background">
	   <p>General Information:</p>
	   <ul>
          <li>If you select 0 for High, Medium, and Low, students will not be able to select any clients.</li>	
          <li>In order for students to submit new clients, they will need to have an open slot in their personal client totals.</li>
          <li>When you are assigning clients to students, you may not assign more than the total restriction; however, you
       	      are not restricted by the High, Medium, and Low restrictions.</li>
	   </ul>
	
	   <ol><br />
	      <li><strong>Scenario 1: Students cannot choose clients from the client list. Instead, the teacher assigns clients to the students.</strong></li>
	      <br />
	      <ul>
		     <li>Set High, Medium, and Low to 0. This prevents the students from choosing anything.</li>
		     <li>Set the total to whatever you wish. Students will still be able to submit new clients if they have under the Total restriction so remember to set that high enough.</li>
	         <li>Recommended Settings:</li>
	         <ul>
	         	<li>Total: The number of clients you want to assign to each student plus 2.</li>
	            <li>High, Medium, Low: 0</li>
	         </ul>
	      </ul>
	      <br />
	      <li><strong>Scenario 2: Students pick their own clients, but teacher still can assign clients if necessary.</strong></li>
	      <br />
	      <ul>
	      	 <li>Set Total to the maximum number of clients students should have at one time.</li>
	      	 <li>Set High, Medium, and Low to restrict a specific priority of client to less than the Total.</li>
	      	 <li>If you do not wish to further restrict High, Medium, or Low, choose NA.</li>
	      	 <li>When students submit new clients, they are given a low priority. Thus we recommend setting Low to NA.</li>
	         <li>Recommended Settings:</li>
	         <ul>
				<li>To start the project:</li> 
	            <ul>
	               <li>Total: 3</li>
	               <li>High, Medium, Low: 1</li>
	            </ul>
	            <li>Once the students have done their initial choosing of clients:</li>
	            <ul>
	               <li>Total: 5</li>
	               <li>High: 2</li>
	               <li>Medium, Low: NA</li>
	            </ul>
	      </ul>
	</ol>
	<p id="hide_help" class="fake-link">Hide</p>
</div>
			<div id = "priority_dropdown">
				<table>
					<body>
						<tr>
				<td class="label-field"><%= f.label :max_clients, "Total:" %></td>
				<td class="text-field"><%= f.select(:max_clients, [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10], 
				                { :include_blank => false }, { :class => 'btn btn-default dropdown-toggle client_priorities' })%></td>
				</tr>
				<tr>
				<td class="label-field"><%= f.label :high_priority, "High:"%></td>
				<!-- Do not change the following array without fixing the change event handlers in project.js -->
				<td class="text-field"><%= f.select(:max_high_priority_clients, [['N/A', -1], 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10], 
				                { :include_blank => false }, { :class => 'btn btn-default dropdown-toggle client_priorities' })%></td>
				</tr>
				<tr>
				<td class="label-field"><%= f.label :medium_priority, "Medium:"%></td>
				<!-- Do not change the following array without fixing the change event handlers in project.js -->
				<td class="text-field"><%= f.select :max_medium_priority_clients, [['N/A', -1], 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10], 
				                { :include_blank => false }, { :class => 'btn btn-default dropdown-toggle client_priorities' }%></td>
				</tr>
				<tr>
				<td class="label-field"><%= f.label :low_priority, "Low:" %></td>
				<!-- Do not change the following array without fixing the change event handlers in project.js -->
				<td class="text-field"><%= f.select :max_low_priority_clients, [['N/A', -1], 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10], 
				                { :include_blank => false }, { :class => 'btn btn-default dropdown-toggle client_priorities' }%></td>
				                </tr>
				</body>
				</table>
	</div>
</div>
	<div id = "project_options">
       <p class="alert alert-info header">Time Period When Students Can Choose Clients</p>
       <table>
       	<body>
       		<tr>
				<td class="label-field"><%= f.label :tickets_open_time, 'Start Time:' %></td>
				<td class="text-field">
					<% if get_current_project %>
						<%= f.text_field :tickets_open_time, :placeholder => 'YYYY/MM/DD 00:00 AM/PM', :class => 'form-control', :value => @project.tickets_open_time.strftime("%Y/%m/%d %I:%M %p") %>
					<% else %>
						<%= f.text_field :tickets_open_time, :placeholder => 'YYYY/MM/DD 00:00 AM/PM', :class => 'form-control' %>
					<% end %>
				</td>
			</tr>
			<tr>	
				<td class="label-field"><%= f.label :tickets_close_time, 'End Time:' %></td>
				<td class="text-field">
					<% if get_current_project %>
						<%= f.text_field :tickets_close_time, :placeholder => 'YYYY/MM/DD 00:00 AM/PM', :class => 'form-control', :value => @project.tickets_close_time.strftime("%Y/%m/%d %I:%M %p") %>
					<% else %>
						<%= f.text_field :tickets_close_time, :placeholder => 'YYYY/MM/DD 00:00 AM/PM', :class => 'form-control' %>
					<% end %>
				</td>
            </tr>
			</body>
			</table>
		</div>

    <% if @project.is_active && (@project.new_record? == false)%>
      <% message = 'update'%>
		  	<p class='alert alert-info header'>Closing the Project</p>
	    <div id="archived">
		    <%= label_tag(:is_active, 'Would you like to move this project to the archives?') %><br />
			  Yes: <%= f.radio_button :is_active, '0' %>
			  No:  <%= f.radio_button :is_active, '1', :checked => true %>
		  </div>
		     
		  <div id="finalComments" class="hidden">
		   	 <br /><p>Once you archive the project, you will no longer be able to edit its contents.</p>
		   	 <p>Would you like to export all the tables from this project to excel?
		   	 <span id="export_project"><%= link_to (image_tag 'excel.png'), projects_convert_to_excel_path(format: 'xls'), :title => "Export Entire Project to Excel" %></span>
		   	 </p>
		   	 <div id="exporting">
		   	 	<br />
	  			<p><strong>Please wait while we export your project to excel. This could take a couple minutes.</strong></p>
  			</div>
		     <p><%= f.label       :comment, 'Would you like to save any comments about this project?'%></p>
		     <span><%= f.text_area   :comment, :class => 'form-control' %></span>
		  </div>
		<% else %>
		  <% message = 'create'%>
		<% end %>
		<div class="actions">
			<%= f.submit class: 'btn btn-primary btn-sm', id: "submitButton"%>
		</div>
	
	<div id="loading">
	  <br />
	  <p><strong>Please wait while we <%= message %> the project. This could take a couple minutes.</strong></p>
	  <%= image_tag 'loading.GIF'%><br />
  </div>
  </div>	
	<% end %>
