<%= form_for(@project) do |f| %>
  <% if @project.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@project.errors.count, "error") %> prohibited this project from being saved:</h2>

      <ul>
      <% @project.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <div class = "col-mid-3" class="control-group">
      <label class="control-label">
      <%= f.label :Year %>
      </label>
      <div class="controls">
        <%= f.select :year, options_for_select([current_year(), next_year()]), { :include_blank => false}, { :class => "selectpicker"}%>
      </div>  
    </div>

    <div class = "col-mid-3" class="control-group">
    <label class="control-label">
     <%= f.label :semester %>
      </label>
      <div class="controls">
      <%= f.select :semester, options_for_select(%w[Fall Spring]), { :include_blank=>false }, { :class => "selectpicker"}%>
</div>
    </div>
    <div class="field">
      <%= f.label :project_type_id %><br>
      <%= f.collection_select :project_type_id, ProjectType.all, :id, :name, { :include_blank=>false }, { :class => "btn btn-large dropdown-toggle "}  %>
    </div>
    <div class="field">
      <%= f.label :tickets_open_time %><br>
      <%= f.text_field :tickets_open_time, :placeholder => "YYYY/MM/DD 00:00 AM/PM" %>
    </div>
    <div class="field">
      <%= f.label :tickets_close_time %><br>
      <%= f.text_field :tickets_close_time, :placeholder => "YYYY/MM/DD 00:00 AM/PM" %>
    </div>
    <div class="field">
      <%= f.label :comment %><br>
      <%= f.text_field :comment %>
    </div>
    
	<div class="field">
      <%= radio_button(:project, :use_max_clients,  0, :checked => true) %>
      <%= label_tag(:max_color_clients, "Total Clients in separated form") %><br>
      <%= f.label :high_priority %>
      <%= f.select :max_high_priority_clients, options_for_select([0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]), { :include_blank=>false }, { :class => "selectpicker"}%><br>
      <%= f.label :medium_priority %>
      <%= f.select :max_medium_priority_clients, options_for_select([0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]), { :include_blank=>false }, { :class => "selectpicker"}%><br>
      <%= f.label :low_priority %>
      <%= f.select :max_low_priority_clients, options_for_select([0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]), { :include_blank=>false }, { :class => "selectpicker"}%><br>
    </div>    

    <div class="field">
      <%= radio_button(:project, :use_max_clients, 1 ) %>
      <%= label_tag(:max_color_clients, "Total Clients in total form") %><br>
      <%= f.label :max_clients %>
      <%= f.select :max_clients, options_for_select([0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]), { :include_blank=>false }, { :class => "selectpicker"}%>
      <br /><br />
	</div>


	<% if params[:id]%>	
	  <div class="field">		
	  		
		<% if @project.is_active %>
			<%= label_tag(:is_active, "Would you like to move this project to the archives?") %><br>
			yes: <%= f.radio_button :is_active, "0" %>
			no:  <%= f.radio_button :is_active, "1", :checked => true %>		
		<% else %>
			<%= label_tag(:is_active, "Would you like to re-activate this project?") %><br>
			yes: <%= f.radio_button :is_active, "1" %>
			no:  <%= f.radio_button :is_active, "0", :checked => true %>		
		<% end %>
	  </div>
	<% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
  
<script>
	$('#project_tickets_open_time').datetimepicker({ dateFormat: "yy/mm/dd", timeFormat: "hh:mm TT" });
	$('#project_tickets_close_time').datetimepicker({ dateFormat: "yy/mm/dd", timeFormat: "hh:mm TT" });
</script>    
<% end %>

<!-- This adds client-side validation -->
<script>
	$(document).ready(function () {

	
		$("#new_project").validate({
			rules: {
				"project[year]": {required: true, rangelength: [4,4]},
				"project[tickets_open_time]": {required: true, date: true},
				"project[tickets_close_time]": {required: true, date: true, greater_than: "project[tickets_open_time]"},
			},
			messages: {
			}
		});
	});
</script>
