
<div class="form_background">

<p id="project_title" class="alert alert-info">
  <%= "#{@project.semester} #{@project.year} - #{@project.project_type.name} " %>
  <% if @project.is_active %>
  <%= "[Active]" %>
  <% else %>
  <%= "[Archived]" %>
  <% end %>
</p>


<p>
  <strong>Client List Open:</strong>
  <%= "#{@project.tickets_open_time.strftime("%B %e, %l:%M %p")}
       - #{@project.tickets_close_time.strftime("%B %e, %l:%M %p")}" %>
</p>

<p>
  <strong>Total Clients Per Student:</strong>
  <%= @project.max_clients %>
</p>

  <p>
    <strong>Maximum High Priority:</strong>
    <% if @project.max_high_priority_clients == NA %>
       N/A
    <% else %>
       <%= @project.max_high_priority_clients %>
    <% end %>    
  </p>
  <p>
    <strong>Maximum Medium Priority:</strong>
    <% if @project.max_medium_priority_clients == NA %>
       N/A
    <% else %>
       <%= @project.max_medium_priority_clients %>
    <% end %>    
  </p>
  <p>
    <strong>Maximum Low Priority:</strong>
    <% if @project.max_low_priority_clients == NA %>
       N/A
    <% else %>
       <%= @project.max_low_priority_clients %>
    <% end %>    
  </p>

<p>
  <strong>Project Comments:</strong>
  <%= @project.comment || "None" %>
</p>
<% if @project.is_active == false && get_current_project %>
<p class="alert alert-info">
   If you wish to re-activate this project so that you can edit it, <br />
   &nbsp;&nbsp;you must first archive your current project.	
</p>
<% elsif @project.is_active == false %>
   <%= form_for(@project) do |f| %>
       <%= f.hidden_field :is_active, :value => true %>
       <%= f.hidden_field :reactivate, :value => true %>
       <%= f.submit 'Reactivate This Project', class: 'btn btn-primary btn-sm' %>
   <% end %>
<% else %>
   <p><%=link_to "Edit Active Project Settings", edit_project_path(@project) %></p>
<% end %>
</div>
