<% provide(:title, 'Projects') %>
<% provide(:excel, (link_to (image_tag 'excel.png'), projects_convert_to_excel_path(format: 'xls'), :title => "Export to Excel").html_safe) %>

<% if @project || @archived_projects.present? %>

    <% if @project && get_selected_project.id == @project.id %>
        <%= render 'project_info' %>
    <% elsif @project %>
        <p class="alert alert-info">You are currently viewing an archived project.</p>
        <%= link_to 'View Active Project', {controller: 'projects', action: 'select_project', input: @project.id},
                                             method: :post, :class => 'btn btn-primary btn-sm'%>
    <% else %>
        <p class = "alert alert-info">
        	Currently, no active project exists. <%= link_to 'Create New Project?', new_project_path %>
        </p>
    <% end %>

    <% if @archived_projects.present? %>
        <%= form_tag(projects_select_project_path) do%>
            <h3>Archived Projects
            <%= (link_to (image_tag 'excel.png'), projects_projects_list_path(format: 'xls'), :title => "Projects").html_safe %></h3>
            <table class = "display default_table">
              <thead>
              <tr>
                <th>Selected</th>
                <th>Year</th>
                <th>Semester</th>
                <th>Project Type</th>
                <th>Comments</th>
                <th class="empty"></th>
              </tr>
              </thead>

              <tbody>
              <% @archived_projects.each do |project| %>
                  <tr>
                    <td><%= radio_button_tag 'input', project.id, (true if project.id == get_selected_project.id) %></td>
                    <td><%= project.year %></td>
                    <td><%= project.semester %></td>
                    <td><%= project.project_type.name %></td>
                    <td><%= tooltipify(project.comment) %></td>
                    <td><%= link_to 'Details', project_path(project) %></td>
                  </tr>
              <% end %>
              </tbody>
            </table>

            <%= submit_tag 'View Selected Archived Project', :class => 'btn btn-primary btn-sm'%>
        <% end %>
    <% else %>

        <p class = "alert alert-info"> There are currently no archived projects to view. In the future, they will appear here.</p>

    <% end %>
<% else %>
    <p class = "alert alert-info"> There are currently no projects to display. Would you like to create a new project? </p>
    <%= link_to 'Create a New Project', new_project_path %>
<% end %>
