<% provide(:title, 'Projects') %>

<% if @project || @archived_projects.present? %>
    <% if @project && get_selected_project.id == @project.id %>
        <%= render 'form' %>
    <% elsif @project %>
        <%= link_to 'View Current Project', {controller: 'projects', action: 'select_project', input: @project.id},
                                             method: :post, :class => 'btn btn-primary btn-sm'%>
    <% else %>
        <p><h5>Currently, no active project exists. Please create a new project or view archived projects.</h5></p>
        <%= link_to 'Create New Project', new_project_path %>
    <% end %>

    <% if @archived_projects.present? %>
        <%= form_tag(projects_select_project_path) do%>
            <h3>Archived Projects</h3>
            <table class = "table table-condensed">
              <thead>
              <tr>
                <th>Selected</th>
                <th>Year</th>
                <th>Semester</th>
                <th>Project Type</th>
                <th>Comments</th>
                <th></th>
              </tr>
              </thead>

              <tbody>
              <% @archived_projects.each do |project| %>
                  <tr>
                    <td><%= radio_button_tag 'input', project.id, (true if project.id == get_selected_project.id) %></td>
                    <td><%= project.year%></td>
                    <td><%= project.semester%></td>
                    <td><%= project.project_type.name%></td>
                    <td><%= project.comment%></td>
					<% if get_current_project %>
			        	<td><%= link_to 'Show', edit_project_path(project), :class => "btn btn-primary btn-sm" %></td>
			        <% else %>
			   			<td><%= link_to 'Edit', edit_project_path(project), :class => "btn btn-primary btn-sm" %></td>
			        <% end %>                  </tr>
              <% end %>
              </tbody>
            </table>

            <%= submit_tag 'View Selected Archived Project', :class => 'btn btn-primary btn-sm'%>
        <% end %>
    <% else %>

        <p><h5> There are currently no archived projects to view. In the future, they will appear here.</h5></p>

    <% end %>
<% else %>
    <p><h5> There are currently no projects to display. Would you like to create a new project? </h5></p>
    <p><h5> You will need to create a new project before you can access any other page. </h5></p>
    <%= link_to 'Create a New Project', new_project_path %>
<% end %>
