<% provide(:title, "Projects") %>

<h1 class = "col-md-3", id = "heading">Projects</h1>
<br /><br /><br /><br />
 <% if @projects.empty? %>
   <p> There are currently no projects to display. </p>
   <%= link_to "Create a New Project", new_project_path %>
<% else %>
<%= form_tag('/projects/select_project') do%>
	<% if (Project.find_by is_active: '1') %>
	<h3>Active Project</h3>
	<table class = "display">
	  <thead>
	    <tr>
	      <th>Selected</th>
	      <th>Year</th>
	      <th>Semester</th>
	      <th>Type</th>
	      <th>Client List Opens</th>
	      <th>Client List Closes</th>
	      <th>Total Max Clients</th>
	      <th>High Priority Clients</th>
	      <th>Medium Priority Clients</th>
	      <th>Low Priority Clients</th>
	      <th></th>
	    </tr>
	  </thead>
	  	
	  <tbody>
	    <% @current_projects.each do |project| %>
			  <tr>	      
      			<td><%= radio_button_tag 'input', project.id, (true if project.id == get_selected_project.id) %></td>
		      	<td><%= project.year%></td>
		      	<td><%= project.semester%></td>
		      	<td><%= project.project_type.name%></td>
		      	<td><%= project.tickets_open_time.to_formatted_s(:long_ordinal)%></td>
		        <td><%= project.tickets_close_time.to_formatted_s(:long_ordinal) %></td>
		        <% if project.use_max_clients %>
		        	<td><%= project.max_clients%></td>
		        	<td>N/A</td>
		        	<td>N/A</td>
		        	<td>N/A</td>
		        <% else %>
		        	<td>N/A</td>
			        <td><%= project.max_high_priority_clients%></td>
			        <td><%= project.max_medium_priority_clients%></td>
			        <td><%= project.max_low_priority_clients%></td>
		        <% end %>
		        <td><%= link_to 'Edit', edit_project_path(project), :class => "btn btn-primary btn-sm" %></td>
		      </tr>
	    <% end %>
	  </tbody>
	</table>
	
	<% else %>
			<br>
			   Currently, no active project exists. Please create a new project or view archived projects.
			<br>
		  	<%= link_to 'Create New Project', new_project_path %>
			<br>   
			<% @projects.each do |project| %>
			  <% if (project.tickets_open_time && project.tickets_close_time) < Time.current %>
			  	<%= link_to 'Create New Project', new_project_path %>
			  <% end %>
			<% end %>
	<% end %>
	
	<% if Project.non_archived.find_by is_active: '0' %>
	<h3>Archived Projects</h3>
		<table class = "display">
			<thead>
		      <tr>
			    <th>Selected</th>
			    <th>Year</th>
			    <th>Semester</th>
			    <th>Project Type</th>
			    <th>Max Clients</th>
			    <th>Comments</th>
			    <th>Edit Button</th>
			  </tr>
			</thead>
		  
		  <tbody>
		    <% @archived_projects.each do |project| %>
     		      <tr>
      				<td><%= radio_button_tag 'input', project.id, (true if project.id == get_selected_project.id) %></td>
			      	<td><%= project.year%></td>
			      	<td><%= project.semester%></td>
			      	<td><%= project.project_type.name%></td>
			        <td><%= project.max_clients%></td>
			      	<td><%= project.comment%></td>
			        <td><%= link_to 'Edit', edit_project_path(project), :class => "btn btn-primary btn-sm" %></td>
    		      </tr>
		    <% end %>
		  </tbody>
		</table>
	<% end %>
	<%= submit_tag 'View This Project', :class => "btn btn-primary btn-sm"%>
<% end %>
<% end %>
