<h1>Current Projects</h1>

<table>
  <thead>
    <tr>
      <th>Year</th>
      <th>Semester</th>
      <th>Project Type</th>
      <th>Project Start</th>
      <th>Project End</th>
      <th>Clients</th>	
      <th>Comment</th>
    </tr>
  </thead>

  <tbody>
    <% @projects.each do |project| %>
      <tr>
      	<% if project.project_end > Time.current %>
      	<td><%= project.year%></td>
      	<td><%= project.semester%></td>
      	<td><%= project.project_type_id%></td>
      	<td><%= project.project_start%></td>
        <td><%= project.project_end%></td>
        <td><%= project.max_clients%></td>
      	<td><%= project.comment%></td>
      	
        <td><%= link_to 'Show', project %></td>
        <td><%= link_to 'Edit', edit_project_path(project) %></td>
        <td><%= link_to 'Destroy', project, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<% @projects.each do |project| %>
  <% if (project.project_start && project.project_end) > Time.current %>
  <%= link_to 'New Project', new_project_path %>
  <% end %>
<% end %>
<h1>Expired Projects</h1>
<table>
	<thead>
      <tr>
      <th>Year</th>
      <th>Semester</th>
      <th>Project Type</th>
      <th>Project Start</th>
      <th>Project End</th>
      <th>Clients</th>	
      <th>Comment</th>
    </tr>
  </thead>
  
  <tbody>
    <% @projects.each do |project| %>
      <tr>
      	<% if project.project_end < Time.current %>
      	<td><%= project.year%></td>
      	<td><%= project.semester%></td>
      	<td><%= project.project_type_id%></td>
      	<td><%= project.project_start%></td>
        <td><%= project.project_end%></td>
        <td><%= project.max_clients%></td>
      	<td><%= project.comment%></td>
      	<% end %>
      </tr>
    <% end %>
  </tbody>
</table>
