<% provide(:title, "#{@project.semester} #{@project.year} Project Details") %>

<% if(@project) %>
<% if get_current_project && (get_current_project.id != @project.id) %>
<p class="alert alert-info">
   If you wish to re-activate this project so that you can edit it, <br />
   &nbsp;&nbsp;you must first archive your current project.	
</p>
<% end %>
<%= render 'project_info'%>
<% if get_current_project.blank?%>
   <%= form_for(@project) do |f| %>
       <%= f.hidden_field :is_active, :value => true %>
       <%= f.submit 'Reactivate This Project', class: 'btn btn-primary btn-sm' %>
   <% end %>
<% end %>

       <p><%= link_to 'Back to the Projects list', projects_path %></p>
<% end %>
