<p id="notice"><%= notice %></p>

<p>
  <strong>Year:</strong>
  <%= @project.year %>
</p>
<p>
  <strong>Semester:</strong>
  <%= @project.semester %>
</p>
<p>
  <strong>Project Type:</strong>
  <%= @project.project_type_id%>
</p>
<p>
  <strong>Project Start Date:</strong>
  <%= @project.tickets_open_time %>
</p>
<p>
  <strong>Project End Date:</strong>
  <%= @project.tickets_close_time %>
</p>
<% if @project.use_max_clients %>
<p>
  <strong>Max number of any Client:</strong>
  <%= @project.max_clients %>
</p>
<% end %>
<% if !@project.use_max_clients %>
  <p>
    <strong>Max number of High Priority Clients:</strong>
    <%= @project.max_high_priority_clients %>
  </p>
  <p>
    <strong>Max number of Yellow Clients:</strong>
    <%= @project.max_medium_priority_clients %>
  </p>
  <p>
   <strong>Max number of Low Priority Clients:</strong>
   <%= @project.max_low_priority_clients %>
  </p>
<% end %>
<p>
  <strong>Comment:</strong>
  <%= @project.comment %>
</p>
<%= link_to 'Edit', edit_project_path(@project), :class => 'btn btn-large btn-primary btn-sm' %> |
<%= link_to 'Project list',  {:controller => 'tickets', :action => 'create'}, method: :post, :class => 'btn btn-large btn-primary btn-sm' %>
