<%= form_for(@update) do |f| %>
  <% if @update.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@update.errors.count, "error") %> prohibited this update from being saved:</h2>

      <ul>
      <% @update.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <div>
  	<%= f.fields_for :actions do |a| %>
  	    <%= label_tag "first_contact", "First Contact" %>
        <%= a.check_box :action_type_id, { :value => 1} %>
        <%= label_tag "presentation", "Presentation"%>
        <%= a.check_box :action_type_id, { :value => 2} %>
        <%= label_tag "sale", "Sale" %>
        <%= a.check_box :action_type_id, { :value => 3 } %>
        
  <br><br>
  <div>
	<%= a.label :user_action_time %>
	<%= a.datetime_select :user_action_time %>
  </div>
  
  	<% end %>
  </div>
  
</br><br>  
  <div class ="field">
  	<%= f.label :comment_text, "Comment" %> <br>
  	<%= f.text_area :comment_text%>
  </div>
  
  <%= f.hidden_field :receipt_id, :value => @update.receipt_id %>

  <%= debug @update %>
  <div class="actions">
    <%= f.submit %>
  </div>
  

  
<% end %>
