<%= form_for(@bonus_type, :html => {:id => 'bonus_types'}) do |f| %>
	<% if @bonus_type.errors.any? %>
	<div id="error_explanation">
		<h2><%= pluralize(@bonus_type.errors.count, 'error') %> prohibited this bonus from being saved:</h2>
		<ul>
			<% @bonus_type.errors.full_messages.each do |msg| %>
			<li>
				<%= msg %>
			</li>
			<% end %>
		</ul>
	</div>
	<% end %>
	
	<div class="form_background">
		<table>
		  <body>
				<tr>
				  <td class="label-field"><%= f.label      :name, "Bonus Name:" %></td>	
				  <td class="text-field"> <%= f.text_field :name, class: 'form-control' %></td>
				</tr>
				<tr>
				  <td class="label-field"><%= f.label      :point_value, "Points:" %></td>	
				  <td class="text-field"> <%= f.text_field :point_value, class: 'form-control'%></td>
				</tr>
				<tr>
				  <td class="label-field"></td>
				  <td class="text-field">					
			      <% if @bonus_type.new_record? %>
			      	<%= f.submit 'Create Bonus', class: 'btn btn-primary btn-sm'%>
			    	<% else %>
			      	<%= f.submit 'Update Bonus', class: 'btn btn-primary btn-sm' %>
			      <% end %>
		          </td>
	            </tr>
		  </body>			
		</table>
	</div>
<% end %>

