<h3>My Past Actions</h3>

<table class="display">
  <thead>
  <tr>
    <th>Action</th>
    <th>Time</th>
    <th>Points</th>
    <th>Comment</th>
    <th></th>
  </tr>
  </thead>

  <tbody>
<!-- Determines if the action is there so the student can only delete in order -->
  <% ordered_delete = Array["no", "no", "no", "no"] %>
  <% receipt.actions.each do |a| %>
  	<% if a.action_type.name == "First Contact" %>
    	<% ordered_delete[0] = "yes" %>
    <% elsif a.action_type.name == 'Presentation' %>
        <% ordered_delete[1] = "yes" %>
    <% elsif (a.action_type.name == 'New Sale' || a.action_type.name == 'Old Sale') %>
        <% ordered_delete[2] = "yes" %>
    <% elsif a.action_type.name == 'Comment' %>
    	<% ordered_delete[3] = "yes" %>
    <% else %>
    	<% ordered_delete[0] = "no" %>
    	<% ordered_delete[1] = "no" %>
    	<% ordered_delete[2] = "no" %>
    <% end %>
  <% end %>
  
  <% receipt.actions.each do |a| %>
      <tr>
        <td><%= a.action_type.name %></td>
        <td><%= a.user_action_time.to_formatted_s(:long_ordinal) %></td>
        <td><%= a.action_type.point_value %></td>
        <td><%= a.comment %></td>
        <% if a.action_type.name == 'First Contact' && (ordered_delete[1] == "yes" || ordered_delete[2] == "yes") %>
        	<td></td>
        <% elsif a.action_type.name == 'Presentation' && ordered_delete[2] == "yes" %>
        	<td></td>
        <% else %>
        	<td><%= link_to 'Delete', a, method: :delete,
                        data: { confirm: 'Are you sure?' } unless receipt.is_released %></td>
        <% end %>
      </tr>
  <% end %>
  </tbody>
</table>