<% provide(:title, (@client.business_name).html_safe) %>

	
	  <p id="address_name">
		 <%= @client.address %><br />
	  	 <%= @client.city %>
	 	 <%= @client.state %>
	 	 <%= @client.zipcode%></p>
		 <br />
	  <p id="email_comment"><%= @client.contact_title + ' ' + @client.contact_fname + ' ' + @client.contact_lname %>
	  <br /><%= render_phone(@client.telephone) %><br />
	  <%= @client.comment %></p>
	  <p id="email"><%= @client.email %></p>
	</p>
	