<% provide(:title, (@client.business_name).html_safe) %>

	<h4 id="client_info"><%= @client.address%>&nbsp;&nbsp;&#149;
	&nbsp;&nbsp;<%= @client.city %>
	<%= @client.state %>,
	<%= @client.zipcode%>&nbsp;&nbsp;&#149;
	<%if @client.contact_title || @client.contact_fname || @client.contact_lname%>
	&nbsp;&nbsp;<%= @client.contact_title + '' + @client.contact_fname + ' ' + @client.contact_lname %>
	&nbsp;&nbsp;
	<%end%>
	<%if @client.telephone %>
	&#149;&nbsp;&nbsp;<%= render_phone(@client.telephone) %>&nbsp;&nbsp;
	<%end%></h4>




	