<div>
    <h1><%= client.business_name %></h1>
</div>

<div>
  <p>
    <strong>Address:</strong>
    <%= client.address %>
  </p>

  <p>
    <strong>City:</strong>
    <%= client.city %>
  </p>

  <p>
    <strong>State:</strong>
    <%= client.state %>
  </p>

  <p>
    <strong>Zipcode:</strong>
    <%= client.zipcode %>
  </p>

  <p>
    <strong>Contact name:</strong>
    <%= client.contact_title %>
    <%= client.contact_fname %>
    <%= client.contact_lname %>
  </p>

  <p>
    <strong>Telephone:</strong>
    <%= client.telephone %>
  </p>

  <p>
    <strong>Comment:</strong>
    <%= client.comment %>
  </p>
</div>

<div>
  <%= link_to 'Edit this client!', edit_client_path(client) %>
</div>