<% provide(:title, "My Clients") %>
<h1 class = "col-md-3" id = "heading">My Current Clients</h1>
<table class="display">
  <thead>
    <tr>
      <th>Title</th>
      <th>Contact First Name</th>
      <th>Contact Last Name</th>
      <th>Business Name</th>
      <th>Address</th>
      <th>City</th>
      <th>State</th>
      <th>Zipcode</th>
      <th>Telephone</th>
      <th>Email</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @active_tickets.each do |ticket| %>
    <% client = Client.find(ticket.client_id)%>
      <tr>
      	<td><%= client.contact_title%></td>
      	<td><%= client.contact_fname%></td>
      	<td><%= client.contact_lname%></td>
      	<td><%= client.business_name%></td>
      	<td><%= client.address%></td>
      	<td><%= client.city%></td>
      	<td><%= client.state%></td>
      	<td><%= client.zipcode%></td>
      	<td><%= client.telephone%></td>
      	<td><%= client.email%></td>
        <%  receipt = Receipt.where("ticket_id = ? AND user_id = ?",ticket.id, @student_user.id).first%>
        <td><%= link_to 'Show', receipt_path(receipt) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>
<br/>

<h1>My Completed Clients</h1>

<table class="display">
  <thead>
    <tr>
      <th>Title</th>
      <th>Contact First Name</th>
      <th>Contact Last Name</th>
      <th>Business Name</th>
      <th>Address</th>
      <th>City</th>
      <th>State</th>
      <th>Zipcode</th>
      <th>Telephone</th>
      <th>Email</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @sold_tickets.each do |ticket| %>
    <% client = Client.find(ticket.client_id)%>
      <tr>
      	<td><%= client.contact_title%></td>
      	<td><%= client.contact_fname%></td>
      	<td><%= client.contact_lname%></td>
      	<td><%= client.business_name%></td>
      	<td><%= client.address%></td>
      	<td><%= client.city%></td>
      	<td><%= client.state%></td>
      	<td><%= client.zipcode%></td>
      	<td><%= client.telephone%></td>
      	<td><%= client.email%></td>      	
        <%  current_receipt = Receipt.where("ticket_id = ? AND user_id = ?",ticket.id, @current_user.id).first%>
        <td><%= link_to 'Show', receipt_path(current_receipt) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<br>

<% if @released_tickets %>
<h1>My Released Clients</h1>

<table class="display">
  <thead>
    <tr>
      <th>Title</th>
      <th>Contact First Name</th>
      <th>Contact Last Name</th>
      <th>Business Name</th>
      <th>Address</th>
      <th>City</th>
      <th>State</th>
      <th>Zipcode</th>
      <th>Telephone</th>
      <th>Email</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @released_tickets.each do |ticket| %>
    <% client = Client.find(ticket.client_id)%>
      <tr>
      	<td><%= client.contact_title%></td>
      	<td><%= client.contact_fname%></td>
      	<td><%= client.contact_lname%></td>
      	<td><%= client.business_name%></td>
      	<td><%= client.address%></td>
      	<td><%= client.city%></td>
      	<td><%= client.state%></td>
      	<td><%= client.zipcode%></td>
      	<td><%= client.telephone%></td>
      	<td><%= client.email%></td>
        <%  receipt = Receipt.where("ticket_id = ? AND user_id = ?",ticket.id, @current_user.id).first%>
        <td><%= link_to 'Show', receipt_path(receipt) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<% end %>

<br>


