<% if Project.non_archived %>
    <div id="page">
      <h1>My Clients</h1>
      <h2>Active Clients</h2>
      <div id="active_clients" class="myclients">
        <!-- Loop -->
        <% @active_receipts.each do |receipt| %>
        <div class="active client <%= receipt.ticket.priority.name %>" data-link="#">
          <a href="<%= url_for(receipt_path(receipt)) %>" title="View client"><img class="view_button" src="/assets/rightarrow.svg" alt="" /></a>
          <h3 class="business"><%= receipt.ticket.client.business_name %></h3>
          <p>Points earned: <%= receipt.actions.sum(:points_earned) %></p>
          <a href="#" title="Release Client"><img class="release_button" src="/assets/closebutton.svg" alt="" /></a>
        </div>
        <% end %>
      </div>

      <h2>Completed Clients</h2>
      <div id="completed_clients" class="myclients">
        <% @sold_receipts.each do |receipt| %>
        <div class="completed client <%= receipt.ticket.priority.name %>">
          <a href="<%= url_for(receipt_path(receipt)) %>" title="View client"><img class="view_button" src="/assets/rightarrow.svg" alt="" /></a>
          <h3 class="business"><%= receipt.ticket.client.business_name %></h3>
        </div>
        <% end %>
      </div>

      <h2>Released Clients</h2>
      <div id="released_clients" class="myclients">
        <% @released_receipts.each do |receipt| %>
        <div class="released client <%= receipt.ticket.priority.name %>">
          <h3 class="business"><%= receipt.ticket.client.business_name %></h3>
        </div>
        <% end %>
      </div>
      
    </div>

<!--<span><%#= link_to 'Show', receipt_path(receipt) %></span> 
><div class="active <%#= Priority.find(ticket.priority_id).name%>"> -->
<% else %>
<p> There are currently no projects to view. <p>
<% end %>
