<% if current_user.role == TEACHER %>
<% provide(:title, (@student_user.first_name.capitalize + '\'s Clients').html_safe)%>
<br />
	<% if session[:return_to] == users_url %>
		<%= link_to "Back to Students", session[:return_to] %>
	<% else %>
		<%= link_to "Back to Reports", session[:return_to] %>
	<% end %>
<% else %>
	<% provide(:title, (@student_user.first_name.capitalize + '\'s Clients').html_safe)%>
<% end %>

<% if Project.non_archived %>

      <div class="modal fade " tabindex="-1" role="dialog" aria-hidden="true" id="releaseBox">
        <div class="modal-dialog modal-lg">
          <div class="modal-content ">
          <%= form_tag(tickets_release_path, id: "release_client") do %>
            <p id="releaseComment">Feel free to leave a comment about this client for other representatives.</p>
            <%= hidden_field_tag(:ticket_id) %>
            <%= text_area_tag "body", nil, :size => 30 %>
            <div><%= link_to "Cancel", "#", title: "cancel", :class => "btn btn-large btn-primary btn-sm closeModal", :id => "cancel" %>
            <%= submit_tag("Release", :class => "btn btn-large btn-primary btn-sm", :id => "switchText")  %></div>     
          <% end %>
        </div>
        </div>
      </div>  
      
      <h2>Active Clients</h2>
      <div id="active_clients" class="myclients">
        <!-- Loop -->
        <% @active_receipts.each do |receipt| %>
        <div class="active client <%= receipt.ticket.priority.name %>" data-link="#">
          <div class="client-container" onclick="document.location.href='<%= url_for receipt_path(receipt) %>'">
            <h3 class="business"><%= receipt.ticket.client.business_name %></h3>
            <section class="info">
              <p>To Do:</p>
              <ul class="client_status">
                <li class="todo todo-<%= receipt.made_contact ? "checked" : "unchecked" %>">First Contact</li>
                <li class="todo todo-<%= receipt.made_presentation ? "checked" : "unchecked" %>">Presentation</li>
                <li class="todo todo-<%= receipt.made_sale ? "checked" : "unchecked" %>">Sale</li>
              </ul>
              <p>Points: <%= receipt.actions.sum(:points_earned) %></p>
            </section>
          </div>
          <%= link_to image_tag('closebutton.svg', class: 'release_button', id: receipt.ticket.id, data: {toggle: "modal", target: ".bs-example-modal-lg"}), '#', title: 'Release client'%>
        </div>
        <% end %>
      </div>

      <h2>Completed Clients</h2>
      <div id="completed_clients" class="myclients">
        <% @sold_receipts.each do |receipt| %>
        <div class="completed client <%= receipt.ticket.priority.name %>">
          <div class="client-container" onclick="document.location.href='<%= url_for receipt_path(receipt) %>'">
            <h3 class="business"><%= receipt.ticket.client.business_name %></h3>
            <section class="info">
              <p>Points: <%= receipt.actions.sum(:points_earned) %></p>
            </section>
          </div>
        </div>
        <% end %>
      </div>

      <h2>Released Clients</h2>
      <div id="released_clients" class="myclients">
        <% @released_receipts.each do |receipt| %>
        <div class="released client <%= receipt.ticket.priority.name %>">
          <div class="client-container" onclick="document.location.href='<%= url_for receipt_path(receipt) %>'">
            <h3 class="business"><%= receipt.ticket.client.business_name %></h3>
            <section class="info">
              <p>Points: <%= receipt.actions.sum(:points_earned) %></p>
            </section>
          </div>
        </div>
        <% end %>
      </div>

<% else %>
<p> There are currently no projects to view. <p>
<% end %>
