<p id="notice"><%= notice %></p> 

<%= debug @receipt %>
<%= debug @action %>

<h1>My Client</h1>

<!-- Eventually, we probably want to turn this to a link that is styled like a button -->

<% if @receipt.made_sale == false %>
    <% if @receipt.made_contact == false %>
	   <%= link_to "I made a first contact!", new_receipt_action_path(@receipt, :action_type_name => "First Contact") %>
       <% else if @receipt.made_presentation == false %>
          <%= link_to "I made a presentation!", new_receipt_action_path(@receipt, :action_type_name => "Presentation") %>
          <% else %>
          <%= link_to "I made a sale!", new_receipt_action_path(@receipt, :action_type_name => "Sale") %>
       <% end %> 
   <% end %>
<% end %>
<br></br>

<%= link_to "I just have a comment", new_receipt_action_path(@receipt, :action_type_name => "Comment") %>

<h3>My Past Actions</h3>
<br><br>
<table class="table dataTable">
  <thead>
    <tr> 
      <th>Action</th>
      <th>Time</th>
      <th>Points</th>
      <th>Comment</th>
      <th></th>
    </tr>
  </thead>

<tbody>
<% @receipt.actions.each do |a| %>
   <tr>
   	<td><%= a.action_type.name %></td>
   	<td><%= a.user_action_time %></td>
   	<td><%= a.action_type.point_value %></td>
   	<td><%= a.comment %></td>
    <td><%= link_to 'Delete', a, method: :delete, 
                                         data: { confirm: 'Are you sure?' } %></td>
   </tr>
<% end %>
</tbody>
</table>
<%= link_to 'New', new_action_path %>
<%= link_to 'Back', receipts_path %>
