<% if current_user.role == 3 %>
	<% student_name = User.find_by(id: Receipt.find_by(id: @receipt.user_id)) %>
  	<%= link_to 'Back to ' + student_name.first_name + '\'s Clients', my_receipts_path(@receipt.user_id), :class => 'btn btn-large btn-primary btn-sm' %>
<br /><br />
<% end %>

<div id = "client_info">
  <%= render :partial => 'show_client_info', :locals => { :client => @client }%>
</div>
<div>
  <%= link_to 'Edit this client!', edit_client_path(@client.id, page: request.url) unless @receipt.user_id != @receipt.ticket.user_id%>
</div>

<% if Receipt.is_released(@receipt) == false %>
<div>
  <% if @receipt.made_contact %>
      <strong>Made Contact!</strong>
  <% else %>
      <strong>Make Contact.</strong>
  <% end %>
  <br>
  <% if @receipt.made_presentation %>
      <strong>Made Presentation!</strong>
  <% else %>
      <strong>Make Presentation.</strong>
  <% end %>
  <br>
  <% if @receipt.made_sale %>
      <strong>Made Sale!</strong>
  <% else %>
      <strong>Make Sale.</strong>
  <% end %>
  <br>

  <% if @receipt.made_sale == false %>
      <% if @receipt.made_contact == false %>
          <%= link_to 'I made a first contact!', new_receipt_action_path(@receipt, :action_type_name => 'First Contact') %>
      <% elsif @receipt.made_presentation == false %>
              <%= link_to 'I made a presentation!', new_receipt_action_path(@receipt, :action_type_name => 'Presentation') %>
          <% else %>
              <%= link_to 'I made a sale!', new_receipt_action_path(@receipt, :action_type_name => 'Sale') %>
      <% end %>
  <% end %>
  <br /><br />
</div>
<% else %>
<p>You have released this client, so you can not add an action to it anymore.</p>
<% end %>
  <%= link_to 'I just have a comment', new_receipt_action_path(@receipt, :action_type_name => 'Comment') %>
<div id = "show_action_table">
  <%= render :partial => 'action_table', :locals => { :receipt => @receipt }%>
</div>
  <br><br/>
<% if current_user.role != 3 %>
  <%= link_to 'Back to My Clients', my_receipts_path(@receipt.user_id), :class => 'btn btn-large btn-primary btn-sm' %>
<% end %>

