<p id="notice"><%= notice %></p> 

<%= debug @receipt %>

<h1>My Client</h1>

<!-- Eventually, we probably want to turn this to a link that is styled like a button -->
<%= link_to "I made a first contact", new_action_path %>
<br></br>
<%= link_to "I just have a comment", new_action_path %>

<h3>My Past Actions</h3>
<br><br>
<table class="table dataTable">
  <thead>
    <tr> 
      <th>Action</th>
      <th>Time</th>
      <th>Comment</th>
      <th>Points</th>
      <th></th>
    </tr>
  </thead>

<tbody>
<% @receipt.actions.each do |a| %>
   <tr>
   	<td><%= a.action_type.name %></td>
   	<td><%= a.user_action_time %></td>
   	<td><%= a.comment %></td>
   	<td><%= a.action_type.point_value %></td>
    <td><%= link_to 'Delete', a, method: :delete, 
                                         data: { confirm: 'Are you sure?' } %></td>
   </tr>
<% end %>
</tbody>
</table>
<%= link_to 'New', new_action_path %>
<%= link_to 'Back', receipts_path %>
