<% if current_user.role == 3 %>
	<% student_name = User.find_by(id: Receipt.find_by(id: @receipt.user_id)) %>
  	<%= link_to 'Back to ' + student_name.first_name + '\'s Clients', my_receipts_path(@receipt.user_id)  %>
<br /><br />
<% end %>


  <%= render :partial => 'show_client_info', :locals => { :client => @client }%>
  
<div id="edit_client">
  <%= link_to 'Edit this client!', edit_client_path(@client.id, page: request.url) unless @receipt.user_id != @receipt.ticket.user_id%>
</div>

<div>
<% if Receipt.is_released(@receipt) == false %>
<%= form_tag(actions_path, id: "new_action") do %>


  <div id="FirstContact" <%= 'class = hidden' unless (@receipt.made_contact == false)%>>
  	<p>Were you able to contact your client?</p>
  	 <%= check_box_tag(:contact) %>
  	 <%= label_tag(:contact, 'Yes, I contacted my client!')%>
  </div>
  
        <div id = "firstCheck" <%= 'class = hidden' unless (@receipt.made_contact == true) && @receipt.made_presentation == (false) %>>
          <div>
            <p>Congratulations on making contact with your client!</p>
            <p>Were you able to make a presentation?</p>
          </div>
          <%= label_tag('presentation', 'I made a presentation!') %>
          <%= check_box_tag(:presentation) %>
        </div>

        <div id = "checkers2" <%= 'class = hidden' unless (@receipt.made_presentation == true) && (@receipt.made_sale == false) %>>
          <div>
            <p>Awesome, you made a presentation!</p>
            <p>Were you able to make a sale?</p>
          
        </div>
        <div>
          <%= label_tag('sale', 'I made a sale!') %>
          <%= check_box_tag(:sale) %>
        </div>
        </div>

        <div id = "saleMade" class="hidden">
            <p>Way to Ad It!</p>
          
          <%= label_tag('price', 'Sale Amount $', class: 'required') %>
          <%= text_field_tag(:price, '', :placeholder => 'Examples: 50 or 75') %>
          <%= label_tag('page', 'Page Size', class: 'required') %>
          <%= text_field_tag(:page, '', :placeholder => 'Examples: .25 or 1.5 ')%>
          <%= label_tag('payment_type', 'Payment Type') %>
          <%= select_tag('payment_type', options_for_select(%w(Cash Credit Invoice Check Dept. Trans.)))%>
        </div>
    <br />
    
    <div id="timepicker" class="hidden">
      <%= label_tag(:user_action_time, 'When did you do this?', class: 'required') %>
      <%= text_field_tag(:user_action_time, '', :placeholder => 'YYYY/MM/DD 00:00 AM/PM') %>
    </div>
    
    <div>
      <%= label_tag('comments', 'Any Comments') %>
      <%= text_area_tag(:comment) %>
    </div>

    <%= hidden_field_tag 'receipt_id', @receipt.id %>
    <div>
      <%= submit_tag('Submit', class: 'btn btn-primary btn-sm')%>
    </div>
    <% end %>
    <% if @receipt.made_sale %>
	 <div class = "panel panel-primary">
	   <div class = "panel-heading">
	     <h3>&nbsp;Completed Sale Details</h3><br>
	   </div>
	 <div class = "panel-body">
     <p class="sale_information">
        <strong>Sale Amount:&nbsp;$ <%=@receipt.sale_value %></strong>
        <strong>Page Size:&nbsp; <%=@receipt.page_size %></strong>
        <strong>Payment Type:&nbsp; <%=@receipt.payment_type %></strong>
    </p>
</div>
</div>
<% end %>
<% else %>
<p>Since you released this client, you no longer can update it.</p>
<% end %>
</div>

<div id = "show_action_table">
  <%= render :partial => 'action_table', :locals => { :receipt => @receipt }%>
</div>
  <br><br/>
<% if current_user.role != 3 %>
  <%= link_to 'Back to My Clients', my_receipts_path(@receipt.user_id) %>
<% end %>

