<% if current_user.role == 3 %>
	<% student_name = User.find_by(id: Receipt.find_by(id: @receipt.user_id)) %>
  	<%= link_to 'Back to ' + student_name.first_name + '\'s Clients', my_receipts_path(@receipt.user_id), :class => 'btn btn-large btn-primary btn-sm' %>
<br /><br />
<% end %>

<div id = "client_info">
  <%= render :partial => 'show_client_info', :locals => { :client => @client }%>
</div>
<<<<<<< HEAD
<div>
  <%= link_to 'Edit this client!', edit_client_path(@client.id, page: request.url) unless @receipt.user_id != @receipt.ticket.user_id%>
=======
<div id="edit_client" class='btn btn-large btn-link btn-sm'>
  <%= link_to 'Edit this client', edit_client_path(@client.id, where: 'from_student', student: @receipt) unless @receipt.user_id != @receipt.ticket.user_id%>
>>>>>>> b9fd7f31d68c4df62b0f79e29cd1536196442f67
</div>

<div class = "panel panel-primary">
  <div class = "panel-heading">
    <h3>&nbsp;1-2-3 Steps to complete your Sale!</h3>
  </div>
  <div class = "panel-body">

<% if Receipt.is_released(@receipt) == false %>

  <% if @receipt.made_contact %>
      <strong> <span class="glyphicon glyphicon-check"></span>Made Contact!&nbsp;&nbsp;</strong>
  <% else %>
      <strong><span class="glyphicon glyphicon-unchecked"></span>Make Contact.&nbsp;&nbsp;</strong>
  <% end %>
  
  <% if @receipt.made_presentation %>
      <strong> <span class="glyphicon glyphicon-check"></span>Made Presentation!&nbsp;&nbsp;</strong>
  <% else %>
      <strong><span class="glyphicon glyphicon-unchecked"></span> Make Presentation.&nbsp;&nbsp;</strong>
  <% end %>
  
  <% if @receipt.made_sale %>
     <strong> <span class="glyphicon glyphicon-check"></span> Made Sale!&nbsp;&nbsp;</strong>
  <% else %>
      <strong><span class="glyphicon glyphicon-unchecked"></span>Make Sale.&nbsp;&nbsp;</strong>
  <% end %>
</div>
</div>
  <div id="client_message">
  <% if @receipt.made_sale == false %>
      <% if @receipt.made_contact == false %>
          <%= link_to 'I made a first contact!', new_receipt_action_path(@receipt, :action_type_name => 'First Contact') %>
      <% elsif @receipt.made_presentation == false %>
              <%= link_to 'I made a presentation!', new_receipt_action_path(@receipt, :action_type_name => 'Presentation') %>
          <% else %>
              <%= link_to 'I made a sale!', new_receipt_action_path(@receipt, :action_type_name => 'Sale') %>
      <% end %>
  <% end %>
 
</div>

<% else %>
<p>You have released this client, so you can not add an action to it anymore.</p>
<% end %>
  <%= link_to 'I just have a comment', new_receipt_action_path(@receipt, :action_type_name => 'Comment') %>
<div id = "show_action_table">
  <%= render :partial => 'action_table', :locals => { :receipt => @receipt }%>
</div>
  <br><br/>
<% if current_user.role != 3 %>
  <%= link_to 'Back to My Clients', my_receipts_path(@receipt.user_id), :class => 'btn btn-large btn-primary btn-sm' %>
<% end %>

