<table class ="table dataTable">
<thead>
<tr>
  <th>First Name</th>
  <th>Last Name</th>
  <th>Student Manager</th>
  <th>Section</th>
  <th>Date/Time activity was reported</th>
  <th>Client</th>
  <th>Activity</th>
  <th>Points Received</th>
  <th>Cumulative Points on Client</th>
  <th>Comments</th>
</tr>
</thead>
<tbody>
    <% @activities.each do |activity| %>
      <tr>
        <td align ="center"><%= link_to activity.first_name, "/receipts/my_receipts/#{activity.student_id}"%></td>
        <td align ="center"><%= link_to activity.last_name, "/receipts/my_receipts/#{activity.student_id}"%></td>
        <td align ="center"><%= activity.team_leader%></td>
        <td align ="center"><%= activity.section%></td>
        <td align ="center"><%= activity.time_of_activity%></td>
        <td align ="center"><%= activity.company%></td>
        <td align ="center"><%= activity.activity%></td>
        <td align ="center"><%= activity.points_earned%></td>
        <td align ="center"><%= activity.cumulative_points_earned_on_client%></td>
        <td align ="center"><%= activity.comments%></td>        
      </tr>
    <% end %>
    <tfoot>
      <td align ="center">Totals</td>
      <td align ="center"></td>
      <td align ="center"></td>
      <td align ="center"></td>
      <td align ="center"></td>
      <td align ="center"></td>
      <td align ="center"></td>
      <td align ="center"><%= @activity_totals.points_earned%></td>
      <td align ="center"><%= @activity_totals.cumulative_points_earned_on_client %></td>
      <td align ="center"></td>
    </tfoot>
</tbody>
</table>