<table class ="display default_table">
  <thead>
    <tr>
      <th>Date</th>
      <th>Company</th>
      <th>Address</th>
      <th>City</th>
      <th>State</th>
      <th>Zip</th>
      <th>Contact</th>
      <th>Telephone</th>
      <th>Sold Arrow Years</th>
      <th>Sold Calendar Years</th>
      <th>Page Size</th>
      <th>Sales</th>      
      <th>First Name</th>
      <th>Last Name</th>
      <th>Team Leader</th>
      <th>Payment</th>
      <th>Ad/Status</th>
    </tr>
  </thead>
  <tbody>
    <% @end_data.each do |d| %>
      <tr>
        <td><%= d.date.to_formatted_s(:long_ordinal)%>
        <td><%= d.company %>
        <td><%= d.address %>
        <td><%= d.city %>
        <td><%= d.state %>
        <td><%= d.zip %>
        <td><%= d.contact %>
        <td><%= render_phone(d.telephone) %>
        <td><%= d.arrow %>
        <td><%= d.calendar %>
        <td align="right"><%= number_with_precision(d.page_size, precision: 2) %>
        <td align="right"><%= number_with_precision(d.sales, precision: 2) %>
        <td><%= d.first_name %>
        <td><%= d.last_name %>
        <td><%= d.team %>
        <td><%= d.payment %>
        <td><%= d.ad_status %>
      </tr> 
    <% end %>
  </tbody>
  <tfoot>
    <tr>
      <td align ="center">Totals</td>
      <td align ="center"></td>
      <td align ="center"></td>
      <td align ="center"></td>
      <td align ="center"></td>
      <td align ="center"></td>
      <td align ="center"></td>
      <td align ="center"></td>
      <td align ="center"></td>
      <td align ="center"></td>
      <td align ="center"></td>
      <td align ="right"><%= number_with_precision(@end_sale_total, precision: 2) %></td>
      <td align ="center"></td>
      <td align ="center"></td>
      <td align ="center"></td>
      <td align ="center"></td>
      <td align ="center"></td>
    </tr> 
  </tfoot>
</table>