<table class ="display default_table">
  <thead>
    <tr>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Student Manager</th>
      <th>Section</th>
      <th>Date/Time sale was reported</th>
      <th>Company</th>
      <th>Page Size</th>
      <th>Sales</th>
      <th>Payment</th>
      <th>Ad/Status</th>    	      	      	      	      
    </tr>
  </thead>
  <tbody>
    <% @sales.each do |sale| %>
      <tr>
        <td align ="left"><%= link_to sale.first_name, my_receipts_path(id: sale.student_id, page: request.url) %></td>
        <td align ="left"><%= link_to sale.last_name, my_receipts_path(id: sale.student_id, page: request.url) %></td>
        <td align ="left"><%= sale.team_leader%></td>
        <td align ="center"><%= sale.section %></td>
        <td align ="center"><%= sale.time_of_sale.to_formatted_s(:long_ordinal)%></td>
        <td align ="center"><%= sale.company%></td>
        <td align ="right"><%= number_with_precision(sale.page_size, precision: 2) %></td>
        <td align ="right"><%= number_with_precision(sale.sale_amount, precision: 2) %></td>
        <td align ="center"><%= sale.payment_type%></td>
        <td align ="center"><%= sale.ad_status%></td>
      </tr> 
    <% end %>
  </tbody>
  <tfoot>
    <tr>
      <td align ="center">Totals</td>
      <td align ="center"></td>
      <td align ="center"></td>
      <td align ="center"></td>
      <td align ="center"></td>
      <td align ="center"></td>
      <td align ="center"></td>
      <td align ="right"><%= number_with_precision(@sale_total, precision: 2) %></td>
      <td align ="center"></td>
      <td align ="center"></td>
    </tr> 
  </tfoot>
</table>