<table class ="table dataTable">
  <thead>
    <tr>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Student Manager</th>
      <th>Section</th>
      <th>Open Clients</th>
      <th>Sold Clients</th>
      <th>Released Clients</th>
      <th>Sales Total</th>
      <th>Points</th>
      <th>Last Student Activity</th>     	      	      	      	      
    </tr>
  </thead>
  <tbody>
  <% open_clients = 0 %>
        <% @student_array.each do |student| %>
          <tr>
            <td align ="center"><%= link_to student.first_name, "/receipts/my_receipts/#{student.id}" %></td>
            <td align ="center"><%= link_to student.last_name, "/receipts/my_receipts/#{student.id}" %></td>
            <td align ="center"><%= student.student_manager %></td>
            <td align ="center"><%= student.section %></td>
            <td align ="center"><%= student.open%></td>
            <td align ="center"><%= student.sold %></td>
            <td align ="center"><%= student.released %></td>
            <td align ="center"><%= student.sales %></td>
            <td align ="center"><%= student.points %></td>
            <td align ="center"><%= student.last_activity %></td> 
          </tr>                           
        <% end %>
        </tbody>
          <tfoot>
            <td align ="center">Totals</td>
            <td align ="center"></td>
            <td align ="center"></td>
            <td align ="center"></td>
            <td align ="center"><%= @student_totals.total_open%></td>
            <td align ="center"><%= @student_totals.total_sold %></td>
            <td align ="center"><%= @student_totals.total_released %></td>
            <td align ="center"><%= @student_totals.total_sales %></td>
            <td align ="center"><%= @student_totals.total_points %></td>
            <td align ="center"></td>                        
          <tfoot>
    </table>
