<!-- Here is huge table of all the students -->
<table id="teamData" class="display default_table">
  <thead>
  	<tr>
  	  <th>First Name</th>
  	  <th>Last Name</th>
  	  <th>ID number</th>
  	  <th>Email</th>
  	  <th>Phone</th>
  	  <th>Major</th>
  	  <th>Minor</th>
  	  <th>Box</th>
  	  <th>Class</th>     	      	      
  	</tr>
  </thead>
  <tbody>
    <% @students.each do |student| %>
      <tr>
        <td><%= student.first_name %></td>
        <td><%= student.last_name %></td>
        <td><%= student.school_id %></td>
        <td><%= student.email %></td>
        <td><%= student.phone %></td>
        <td><%= student.major %></td>
        <td><%= student.minor %></td>
        <td><%= student.box %></td>
        <td><%= student.classification %></td>
      </tr>
    <% end %>
  </tbody>
</table>
