<table class ="table dataTable">
<thead>
<tr>
  <th>Team Name</th>
  <th>Section</th>
  <th>Open Clients</th>
  <th>Sold Clients</th>
  <th>Released Clients</th>
  <th>Sales Total</th>
  <th>Points</th>
</tr>
</thead>
<tbody>
    <% @team_data.each do |team_data| %>
      <tr>
        <td align ="center"><%= team_data.student_manager %></td>
        <td align ="center"><%= team_data.section %></td>
        <td align ="center"><%= team_data.open %></td>
        <td align ="center"><%= team_data.sold %></td>
        <td align ="center"><%= team_data.released %></td>
        <td align ="center"><%= team_data.sales %></td>
        <td align ="center"><%= team_data.points %></td>                            
      </tr>
    <% end %>
      </tbody>
    <tfoot>
      <td align ="center">Totals</td>
      <td align ="center"></td>
      <td align ="center"><%= @team_totals.total_open%></td>
      <td align ="center"><%= @team_totals.total_sold %></td>
      <td align ="center"><%= @team_totals.total_released %></td>
      <td align ="center"><%= @team_totals.total_sales %></td>
      <td align ="center"><%= @team_totals.total_points %></td>
    </tfoot>
</table>