
<%= form_tag reports_edit_bonus_path, :id => 'edit_bonus_points' do%>
  <div id="bonus_edit">
    <p>Number of bonus points:
    <%= number_field_tag 'bonus_points' %></p>
    <p>Please enter the reason for the bonus points:
    <%= text_area_tag 'bonus_comment' %></input></p>
    <input id="bonus_id" name="bonus_id" value="" type="hidden"></input>
    <%= button_tag :sumbit %>
  </div> 
<% end %>

<%= render :partial => 'dropdown' , :locals => {:sections => @sections}%>
<p>
  Download:
  <%= link_to "Excel", reports_bonus_path(format: "xls") %>
</p>

<% provide(:title, 'Bonuses') %>

<%= render :partial => 'bonus'%>