<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
      <%= link_to "WhiteCollar", '#', id: "logo" %>
      <nav>
        <ul class="nav pull-right">
          <li><%= link_to "Manage Section",    users_path %></li>
          <li><%= link_to "Clients",    root_path %></li>
          <% if get_current_project%>
          <!--This now actually links to the correct project, please do not change, npc -->
          <!--If there is a current project, it will go to the information regarding that project,
          	  otherwise, it will go to the page that lists all past projects-->
             <li><%= link_to "Project Options",  project_path(get_current_project) %></li> 
          <% else %>
             <li><%= link_to "Project Options", projects_path %></li>
          <% end %> 
          <li><%= link_to "Tickets",   tickets_path%></li>
          <li><%= link_to "Receipts",  receipts_path%></li>
      </nav>
    </div>
  </div>
</header>