<ul class="nav navbar-nav">
     <li><%= link_to "Manage Section",  users_path %></li>
     <li><%= link_to "Clients",         root_path %></li>
     <li><%= link_to "Project Options", project_path(Project.find(session[:selected_project_id])) %></li>           
     <li><%= link_to "Tickets",         tickets_path %></li>
     <li><%= link_to "My Clients",      receipts_path %></li>
     <% if signed_in? %>
          <li><%= link_to "Sign Out",   signout_path, method: "delete" %></li>
     <% else %>
          <li><%= link_to "Sign In",    signin_path %></li>
     <% end %>   
</ul>   
