<ul class="nav navbar-nav">	 
<%# if current_user.role == 3 %>
  <li><%= link_to "Manage Section",      users_path %></li>
  <li><%= link_to "Assign Clients",      clients_path %></li>
  <li><%= link_to "Approve Clients",     clients_approve_path %></li>
  <li class="dropdown">
    <a data-target="#" class="dropdown-toggle" data-toggle="dropdown">Reports <b class="caret"></b></a>
    <ul class="dropdown-menu">              
      <li><%= link_to "Student Summary", reports_student_summary_path%></li>
      <li><%= link_to "Team Summary",    reports_team_summary_path %></li>
      <li><%= link_to "Activities",      reports_activities_path%></li>
      <li><%= link_to "Sales",           reports_sales_path %></li>
    </ul>
  </li>
  <li><%= link_to "Projects",            projects_path %></li>   
<%# else %>         
  <li><%= link_to "Choose Clients",      tickets_path %></li>
  <li><%= link_to "My Clients",          my_receipts_path(id: current_user.id) %></li>
  <li><%#= link_to "Submit Client",       clients_submit_path %>
<%# end %>
  <li><%#= link_to "Help", users_need_help_path %></li>
<% if signed_in? %>
  <li><%#= link_to "Sign Out", signout_path, method: "delete" %></li>
<% else %>
  <li><%#= link_to "Sign In",  signin_path %></li>
<% end %>   
</ul>   
