<ul class="nav navbar-nav">	 
		
 <%# if current_user.role == 3 %>
    <li><%= link_to "Manage Section",  users_path %></li>
    <li><%= link_to "Manage Clients",         root_path %></li>
    	<!-- I am not sure how to make the drop-down work, I think reports should be the title 
    		 so, you can delete it's links, and the rest should appear in the drop-down menu -->
    	       <li class="dropdown">
                     <a data-target="#" class="dropdown-toggle" data-toggle="dropdown">Reports <b class="caret"></b></a>
                     <ul class="dropdown-menu">
                            <li><%= link_to "Activities", reports_activities_path%></li>
                            <li><%= link_to "Student Summary", reports_student_summary_path%></li>
                            <li><%= link_to "Team Summary", reports_team_summary_path %></li>
                            <li><%= link_to "Sales", reports_sales_path %></li>
                    </ul>
  </li>
    <li><%= link_to "Project Options", projects_path %></li>  
 
 <%# else %>         
    <li><%= link_to "Choose Clients",         tickets_path %></li>
    <li><%= link_to "My Clients", "/receipts/my_receipts/#{@current_user.id}" %></li>
    <li><%= link_to "Submit Client", clients_submit_path %>
 <%# end %>
    	
 <% if signed_in? %>
      <li><%= link_to "Sign Out",   signout_path, method: "delete" %></li>
 <% else %>
      <li><%= link_to "Sign In",    signin_path %></li>
 <% end %>   
</ul>   


