<!DOCTYPE html>
<html>
   <head>
      <title><%= full_title(yield(:title))%> </title>
             <%= stylesheet_link_tag     "application", media: "all",
                                                   "data-turbolinks-track" => true %>
             <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
             <%= csrf_meta_tags %>
             <%= render 'layouts/shim'%>
             
             
             
        <!--Added by Jake 
        	It is for the help pages
        	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.min.js"></script>
        <link rel="stylesheet" href="/fancybox/jquery.fancybox.css" type="text/css" media="screen" />
        <script type="text/javascript" src="/fancybox/jquery.fancybox.pack.js"></script> -->
   </head>
   <body>
             <%= render 'layouts/header'%>
             <div class="container">
               <% flash.each do |key, value| %>
                  <div class="alert alert-<%= key %>"><%= value %></div>
               <% end %>

             <%= yield%>
             <%= render 'layouts/footer'%>
             <%= debug(params) if Rails.env.development? %>
             </div>
   </body>
</html>


