<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= full_title(yield(:title))%></title>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body class="<%= params[:controller] %> <%= params[:action] %>">
  <% if current_user %>
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>
      <div class="collapse navbar-collapse container" id="bs-example-navbar-collapse-1">
        <div id="logo"></div>
	      <%= render 'layouts/navigation' %>
      </div>
    </nav>
  <% end %>  
    <div id="container">
<% if false %>
    <% flash.each do |key, value| %>
      <div class="alert alert-<%= key %>"><%= value %></div>
    <% end %>
      <h1 id="heading" class = "page-header"><%= yield(:title)%></h1>
	   <% if current_user %>
	   <h5 class = "col-md-5" id="section_type" >
	   	<p>
			 Section:
	   			<% if @selected_section == 'all' %>
				<span class = "badge">
	   				ALL
					</span>
	   			<% elsif @selected_section.nil? %>
				<span class = "badge">
	   				Section Not Created
				</span>
	   			<% else%>
				<span class = "badge">
	   				<%= "#{@selected_section} "%>
				</span>
	   			<% end %>
	   	</p>
	   </h5>
	   <%end%>
<% end %>
      <h1 id="heading"><%= yield(:title)%></h1>
    <% if @current_user && @current_user.role == 3 %>
      <%= render 'layouts/teacher_info' %>
    <% end %>
      <% flash.each do |key, value| %>
          <div class="info_bar alert alert-<%= key %>"><%= value %></div>
      <% end %>
      <%= yield %>
    </div>
  </body>
</html>


